:host {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-container {
  padding: 10px 20px;

  .exercise-preview-container {
    font-size: 10px;
    margin-top: 0.5rem;
  }
}
