<div fxLayout="row wrap" fxLayoutAlign="flex-start space-evenly">

  <ng-container *ngFor="let media of mediaList; let i = index">

    <div *ngIf="media.type === 'Image'" class="image-container" fxLayout="row" fxLayoutAlign="center center"
      fxFlexAlign="center" (click)="enlargeCarousel(media, i)" fxFlex="1 1 25%">

      <img class="img-fluid" src="{{ media.downloadUrl }}" appMaterialElevation raisedElevation="16" />

    </div>

    <div *ngIf="media.type === 'Video'" class="video-container" fxLayout="row" fxLayoutAlign="center center"
      fxFlexAlign="center" (click)="enlargeCarousel(media, i)">

      <video appMaterialElevation raisedElevation="16">
        <source src="{{media.downloadUrl}}" type="video/mp4">
        {{'SHARED.VIDEO_NOT_SUPPORTED' | translate}} </video>

    </div>

  </ng-container>


  <span class="input-wrapper" fxFlex="1 1 25%">
    <ng-content id="upload-input"></ng-content>
    <!--located inside parent-->
  </span>

</div>