<div class="container" fxLayout="column wrap" fxLayoutAlign="center center">

  <div id="reset-password-header">
    <img class="img-fluid" src="../../../../assets/images/compressed/logo-transparent.png">
  </div>

  <div id="reset-password-form">

    <form *ngIf="!emailSent && !emailFailed" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" #form="ngForm" fxLayout="column wrap"
      fxLayoutGap="5px">

      <mat-form-field>
        <input type="email" matInput formControlName="email" placeholder="Email">
      </mat-form-field>

      <button mat-flat-button color="primary" id="signin" type="submit"
        [disabled]="!resetPasswordForm.valid">Send recovery mail</button>

    </form>

    <ng-container *ngIf="emailSent">
      <h1 style="text-align: center">Email successfully sent !</h1>
    </ng-container>

    <ng-container *ngIf="emailFailed">
      <h1 style="text-align: center">Email sending failed please try again later or contact us through email !</h1>
      <button style="width: 100%" mat-flat-button color="primary" routerLink="/auth/login">Login page</button>
    </ng-container>

  </div>

</div>
