<div class="pl-2 pr-2 mt-1 w-100" [ngClass]="{'h-100': mediaObserver.isActive('gt-md')}" fxLayout="row"
  fxLayout.lt-lg="column" fxLayoutGap="0.25rem">

  <!--TRACK ONE-->
  <div id="track1" #trackOne="cdkDropList" cdkDropList [cdkDropListConnectedTo]="['track2', 'trackItemsList']"
    [cdkDropListData]="(tracks | async)[0]?.items" (cdkDropListDropped)="drop.emit({event: $event, trackIdx: 0})"
    (cdkDragEntered)="dragEnter.emit($event)" (cdkDragEnded)="dragEnd.emit()" fxFlex="1 1 calc(50% - 0.25rem)"
    fxFlex.lt-lg="1 1 100%  - 1rem" fxLayout="column" fxLayoutGap="0.25rem" fxLayoutGap.lt-lg="0.5rem">

    <ng-container *ngFor="let item of (tracks | async)[0]?.items; trackBy: trackCardsFn">
      <button *ngIf="(editMode | async)" class="mat-elevation-z3" mat-icon-button color="accent"
        (click)="removeTrackItem(item, 0)" matTooltip="{{ 'DASHBOARD.REMOVE_TRACK_ITEM' | translate }}">
        <i class="fas fa-times"></i>
      </button>

      <ndc-dynamic [ndcDynamicComponent]="dashboardCards[item.component]" [ndcDynamicAttributes]="attrs"
        [ndcDynamicInputs]="{ cardId: item.id, jsonParams: item.jsonParams }">
      </ndc-dynamic>
      <!-- [ndcDynamicDirectives]="dirs" -->
    </ng-container>
  </div>

  <!--TRACK TWO-->
  <div id="track2" cdkDropList #trackTwo="cdkDropList" [cdkDropListConnectedTo]="['track1', 'trackItemsList']"
    [cdkDropListData]="(tracks | async)[1]?.items" (cdkDropListDropped)="drop.emit({event: $event, trackIdx: 1})"
    (cdkDragEntered)="dragEnter.emit($event)" (cdkDragEnded)="dragEnd.emit()" fxFlex="1 1 calc(50%  - 0.25rem)"
    fxFlex.lt-lg="1 1 100%  - 1rem" fxLayout="column" fxLayoutGap="0.25rem">

    <ng-container *ngFor="let item of (tracks | async)[1]?.items; trackBy: trackCardsFn">
      <button *ngIf="(editMode | async)" class="mat-elevation-z3" mat-icon-button color="accent"
        (click)="removeTrackItem(item, 1)" matTooltip="{{ 'DASHBOARD.REMOVE_TRACK_ITEM' | translate }}">
        <i class="fas fa-times"></i>
      </button>

      <ndc-dynamic [ndcDynamicComponent]="dashboardCards[item.component]" [ndcDynamicAttributes]="attrs"
        [ndcDynamicInputs]="{ cardId: item.id, jsonParams: item.jsonParams }">
      </ndc-dynamic>
      <!-- [ndcDynamicDirectives]="dirs" -->
    </ng-container>
  </div>

</div>