<span id="exercise-type-create-edit">

  <h2 mat-dialog-title> {{data.title}} </h2>

  <mat-divider class="dialog-form-divider"></mat-divider>

  <div mat-dialog-content class="form" fxLayout="column">
    <form [formGroup]="form">

      <!--FIELDS-->
      <mat-form-field>
        <input matInput formControlName="name" placeholder="Name">
        <mat-error *ngIf="name?.invalid"></mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="code" placeholder="Code">
        <mat-error *ngIf="code?.invalid"></mat-error>
      </mat-form-field>

      <!--CHECKBOXES-->
      <div class="checkboxes-wrapper" fxLayout="row" fxLayoutAlign="space-evenly">
        <div id="group1" fxLayout="column">
          <mat-checkbox formControlName="requiresWeight" [name]="'weight'" (change)="onCheckboxChange($event)">Weight
          </mat-checkbox>
          <mat-checkbox formControlName="requiresReps" [name]="'reps'" (change)="onCheckboxChange($event)">Reps
          </mat-checkbox>
          <mat-checkbox formControlName="requiresSets">Sets</mat-checkbox>
        </div>
        <div id="group2" fxLayout="column">
          <mat-checkbox formControlName="active">Active</mat-checkbox>
          <mat-checkbox formControlName="requiresBodyweight" [name]="'bodyweight'" (change)="onCheckboxChange($event)">
            Bodyweight only</mat-checkbox>
          <mat-checkbox formControlName="requiresTime" [name]="'time'" (change)="onCheckboxChange($event)">Measure time
          </mat-checkbox>
        </div>
      </div>

      <!--TAGS-->
      <mat-accordion [multi]="false" fxLayout="column" class="tags" [@.disabled]="disableAnimation">
        <ng-container *ngFor="let tagGroup of tagGroups; let i = index">

          <!-- works -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <app-exercise-type-chip [value]="tagGroup.type" [backgroundColor]="tagGroup.hexBackground"
                  [color]="tagGroup.hexColor">
                </app-exercise-type-chip>
              </mat-panel-title>
              <mat-panel-description fxLayout="row" fxLayoutAlign="end">
                <mat-checkbox (click)="$event.stopPropagation()" [checked]="tagGroup.active"
                  (change)="onTagGroupActiveChange($event, i)"
                  matTooltip="If checked off, no tag from this group will be displayed in exercise details.">
                </mat-checkbox>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <!--assigned properties-->
            <ng-container *ngIf="getEntityTags(tagGroup.id).length > 0; else noProperties">
              <ng-container *ngFor="let property of getEntityTags(tagGroup.id); let i = index; trackBy: trackByFn">
                <ng-container *ngTemplateOutlet="propertyTemplate; context: { property: property, index: i }"></ng-container>
              </ng-container>
            </ng-container>

            <ng-template #noProperties>
              <span><em>No properties added from this group.</em></span>
            </ng-template>

            <mat-action-row *ngIf="getGroupTags(tagGroup.id).length > 0">
              <ng-container *ngTemplateOutlet="newPropertyTemplate; context: { tagGroupId: tagGroup.id }">
              </ng-container>
            </mat-action-row>

          </mat-expansion-panel>

          <!-- does not work properly with mat-accordion -->
          <!-- <ng-container *ngTemplateOutlet="tagGroupTemplate; context: { tagGroup: tagGroup }"></ng-container> -->

        </ng-container>
      </mat-accordion>

    </form>
  </div>

  <div mat-dialog-actions class="mt-2 dialog-form-actions" fxLayout="row" fxLayoutAlign="space-between">
    <button mat-button color="accent" mat-dialog-close>Close</button>
    <button mat-stroked-button color="primary" (click)="onSubmit()"
      [disabled]="!form.valid">{{ data.action == 'Create' ? 'Add' : 'Save' }}</button>
  </div>

</span>

<!---------------------------------TEMPLATES-------------------------------------->
<ng-template #propertyTemplate let-property="property" let-index="index">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <span>{{property.tag.value}}</span>

    <span id="actions">
      <mat-checkbox [name]="property.id" (change)="onShowChange($event, index)" [checked]="property.show"
        matTooltip="Display this tag in the exercise details."></mat-checkbox>
      <button mat-icon-button color="accent" (click)="removeTag(property)">
        <i class="fas fa-times"></i>
      </button>
    </span>
  </div>
</ng-template>

<ng-template #newPropertyTemplate let-groupId="tagGroupId">
  <mat-form-field>
    <mat-label>Add tag</mat-label>
    <mat-select #tagSelector (selectionChange)="tagSelectionChanged($event)">
      <mat-option *ngFor="let property of getGroupTags(groupId)" [value]="property">
        {{ property.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</ng-template>
