.checkboxes-wrapper {
  margin-bottom: 1rem;
}

#show-checkbox {
  margin-left: 1rem;
}

:host {
  overflow-y: auto;
}

#master-show-checkbox-label {
  margin-left: 8px;
  position:relative;
  top: 2px;
}

