<div class="bodyweight-chart-container h-100" fxLayout="column" fxLayoutGap.lt-md="1rem">
  <form [formGroup]="form" fxLayout="row" fxLayoutGap="1rem">

    <mat-form-field fxFlex="0 1 calc(50% - 1rem)">
      <mat-label>From: </mat-label>
      <input matInput [matDatepicker]="datepicker1" formControlName="dateFrom" (dateChange)="getReportData()">

      <mat-datepicker-toggle matSuffix [for]="datepicker1">
      </mat-datepicker-toggle>
      <mat-datepicker [touchUi]="params.mobile" #datepicker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field fxFlex="0 1 calc(50% - 1rem)">
      <mat-label>To: </mat-label>
      <input matInput [matDatepicker]="datepicker2" formControlName="dateTo" (dateChange)="getReportData()">

      <mat-datepicker-toggle matSuffix [for]="datepicker2">
      </mat-datepicker-toggle>
      <mat-datepicker [touchUi]="params.mobile" #datepicker2></mat-datepicker>
    </mat-form-field>

  </form>

  <app-chart [configuration]="config"></app-chart>
</div>

