:host {
  height: 100%;
}

app-chart {
  position: relative;
  bottom: 1rem;
  margin-bottom: 1rem;
}

form {
  width: 50%
}

@media(max-width: 600px) {
  :host{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  app-chart {
    margin-bottom: 0;
  }
}
