<div
class="notification-container"
fxLayout="row"
fxLayoutGap="15px"
[ngClass]="{'unread': !model.read}">

  <div id="image-wrapper" fxFlex="0 0 auto" fxLayoutAlign="center">
    <ngx-avatar name="image" *ngIf="!model.systemNotification" size="40" name="{{ model.sender.fullName }}"></ngx-avatar>
    <app-notification-type-icon name="image" *ngIf="model.systemNotification" [notificationType]="model.type"></app-notification-type-icon>
  </div>
  <div class="notification-body-container" fxLayout="column" fxFlex="1 1 100%">
    <div id="payload" fxFlex="0 0 70%">
      <b *ngIf="!model.systemNotification">{{model.sender.fullName}} </b>{{ model.payload }}
    </div>
    <div id="metadata" fxFlex="0 0 30%" fxLayout="row" fxLayoutGap="0.5rem" fxLayoutAlign="start center">

      <ng-container [ngSwitch]="model.type">
        <i *ngSwitchCase="'TrainingCreated'" class="fas fa-dumbbell"></i>
        <i *ngSwitchCase="'NoteAdded'" class="fas fa-envelope-open-text"></i>
        <i *ngSwitchCase="'MediaAdded'" class="fas fa-photo-video"></i>
        <i *ngSwitchCase="'ImportFinished'" class="fas fa-cloud-upload-alt"></i>
      </ng-container>

      <span id="date">{{ model.sentAt | date:'medium' }}</span>
    </div>
  </div>

</div>
