// core theme
@import "./application-content.theme.scss";

.settings-dialog-container .mat-dialog-container {
  padding: 0px;
  height: 30rem;
  overflow-x: hidden;
}
.settings-dialog-container .mat-drawer-content {
  overflow-x: hidden;
}

.media-dialog-container .mat-dialog-container {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.media-dialog-container .mat-dialog-content {
  margin: 0;
  padding: 0;
  display: flex;
}

.mat-sidenav-content {
  display: block !important;
}

.navlist {
  padding-top: 0 !important;
}

mat-form-field {
  // margin-bottom: 1rem;
  width: 100%;
}

.mat-dialog-container {
  mat-divider {
    margin-bottom: 1rem !important;
    margin-left: -24px !important;
    margin-right: -24px !important;
  }

  #actions {
    margin-top: 2rem !important;
  }
}




// mat-cell {
//   .mat-icon-button {
//     padding: 0px 5px !important;
//     width: auto !important;
//   }
// }

mat-cell, mat-header-cell {
  mat-divider {
    height: 30px;
  }
}

.cdk-column-actions {
  padding-right: 0px !important;
}


// ==== MAT ERROR - SO IT DOESN'T OVERFLOW ====
.mat-form-field-underline {
  position: initial !important;
}
.mat-form-field-subscript-wrapper {
  position: relative !important;
}
.validation-error {
}
// ======================================