<div class="details-container mat-elevation-z3" *ngIf="(athlete$ | async) as athlete">

    <h1 class="details-header" fxLayout="row" fxLayoutAlign="space-between">

        <span>{{athlete.firstName}} {{athlete.lastName}}</span>

        <span>
            <button *ngIf="athlete.active" mat-stroked-button color="accent"
                (click)="onSetActive(false)">Deactivate</button>
            <button *ngIf="!athlete.active" mat-stroked-button color="accent"
                (click)="onSetActive(true)">Activate</button>
        </span>
    </h1>

    <mat-divider></mat-divider>


    <div class="details-body" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap.lt-sm="1rem">

        <div class="details" fxFlex="0 0 50%" fxFlexOrder.lt-sm="2" gdAreas="left-label left-value" gdGap="1rem" gdRows="100% auto">

            <div gdArea="left-label">
                <div class="detail">
                    <mat-label class="label">Username:</mat-label>
                </div>
                <div class="detail">
                    <mat-label class="label">Email:</mat-label>
                </div>
                <div class="detail">
                    <mat-label class="label">Joined on:</mat-label>
                </div>
                <div class="detail">
                    <mat-label class="label">Account status:</mat-label>
                </div>
            </div>

            <div gdArea="left-value">
                <div class="detail">
                    <span class="label-value">{{athlete.username}}</span>
                </div>
                <div class="detail">
                    <span class="label-value">{{athlete.email}}</span>
                </div>
                <div class="detail">
                    <span class="label-value">{{athlete.createdOn | date:'mediumDate'}}</span>
                </div>
                <div class="detail">
                    <span class="label-value">
                        <app-active-flag [active]="athlete.active"></app-active-flag>
                    </span>
                </div>
            </div>

        </div>

        <div class="avatar-container" fxFlex="0 0 50%" fxFlexOrder.lt-sm="1">
            <img class="img-fluid avatar-img" src="{{athlete.avatar}}" />
        </div>

    </div>

    <div class="details-footer">
        </div>