<span id="set-create-edit">

  <div id="header" fxLayout="row" fxLayoutAlign="space-between center">
    <h2 id="title" fxFlexAlign="center"> {{data.title | translate }} </h2>

    <div class="actions" fxLayout="row" fxLayoutGap="0.5rem" fxLayoutAlign="start center">

      <div class="used-max" *ngIf="exerciseType.requiresWeight && userMaxControl" matTooltip="Click to change used max">

        <mat-form-field appearance="outline">
          <mat-label>Used max</mat-label>
          <input matInput type="number" [formControl]="userMaxControl" placeholder="Used max">
          <span matSuffix>{{ unitSystemUnitofMeasurement }}</span>
        </mat-form-field>

      </div>

      <button mat-icon-button color="accent" (click)="addGroup()">
        <i class="fas fa-plus"></i>
      </button>
      <button mat-icon-button color="accent" [ngClass]="{'active': setAttributes}" (click)="setAttributes = !setAttributes; setControlsState(!setAttributes)">
        <i class="fas fa-cog"></i>
      </button>
    </div>
  </div>

  <mat-divider class="dialog-form-divider"></mat-divider>

  <div mat-dialog-content *ngIf="setFormGroups.length > 0 && exerciseType && settings">
    <div class="form" fxLayout="column">
      <form *ngFor="let set of setFormGroups; let i = index" [formGroup]="set">
        <div class="set-container mb-3">

          <div class="set-attributes pl-4" *ngIf="setAttributes" fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign="start center">
            <mat-slide-toggle color="accent" class="slide-toggle-smaller" [checked]="settings.useRpeSystem"
              (change)="onSetRpeControl($event, i)">
              {{ (settings.rpeSystem == 'Rpe' ? 'TRAINING_LOG.SET_RPE' : 'TRAINING_LOG.SET_RIR') | translate}}
            </mat-slide-toggle>
            <mat-slide-toggle color="accent" class="slide-toggle-smaller" [checked]="settings.usePercentages"
              (change)="onUsePercentage($event, i)">
              {{'TRAINING_LOG.SET_PERCENTAGE' | translate}}
            </mat-slide-toggle>
          </div>

          <div id="control-row" fxLayout="row" fxLayoutGap="10px">

            <label id="set-number">{{i + 1}}.</label>

            <ng-container *ngIf="set.controls['percentage']">
              <mat-form-field>
                <input matInput type="number" formControlName="percentage" placeholder="Percentage">
                <span matSuffix>%</span>
              </mat-form-field>
            </ng-container>

            <ng-container *ngIf="exerciseType.requiresBodyweight && set.controls['weight']">
              <mat-form-field>
                <input matInput type="number" formControlName="weight"
                  placeholder="{{'TRAINING_LOG.SET_BODYWEIGHT' | translate}}">
                <span matSuffix>{{ unitSystemUnitofMeasurement }}</span>
              </mat-form-field>
            </ng-container>

            <ng-container *ngIf="exerciseType.requiresWeight && set.controls['weight']">
              <mat-form-field>
                <input matInput type="number" formControlName="weight"
                  placeholder="{{'TRAINING_LOG.SET_WEIGHT' | translate}}">
                <span matSuffix>{{ unitSystemUnitofMeasurement }}</span>
              </mat-form-field>
            </ng-container>

            <ng-container *ngIf="exerciseType.requiresReps && set.controls['reps']">
              <mat-form-field>
                <input matInput type="number" formControlName="reps"
                  placeholder="{{'TRAINING_LOG.SET_REPS' | translate}}">
              </mat-form-field>
            </ng-container>

            <ng-container *ngIf="exerciseType.requiresTime && set.controls['time']">
              <mat-form-field>
                <input matInput type="number" formControlName="time"
                  placeholder="{{'TRAINING_LOG.SET_TIME' | translate}}">
              </mat-form-field>
            </ng-container>

            <ng-container *ngIf="settings.useRpeSystem || set.controls['rpe'] || set.controls['rir']">
              <mat-form-field *ngIf="settings.rpeSystem == 'Rpe'; else rir">
                <mat-label>{{'TRAINING_LOG.SET_RPE' | translate}}</mat-label>
                <mat-select formControlName="rpe">
                  <mat-option value="5">5</mat-option>
                  <mat-option value="5.5">5.5</mat-option>
                  <mat-option value="6">6</mat-option>
                  <mat-option value="6.5">6.5</mat-option>
                  <mat-option value="7">7</mat-option>
                  <mat-option value="7.5">7.5</mat-option>
                  <mat-option value="8">8</mat-option>
                  <mat-option value="8.5">8.5</mat-option>
                  <mat-option value="9">9</mat-option>
                  <mat-option value="9.5">9.5</mat-option>
                  <mat-option value="10">10</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-divider [vertical]="true"></mat-divider>
            </ng-container>

            <ng-template #rir>
              <mat-form-field>
                <mat-label>{{'TRAINING_LOG.SET_RIR' | translate}}</mat-label>
                <mat-select formControlName="rir">
                  <mat-option value="0">0</mat-option>
                  <mat-option value="0.5">0.5</mat-option>
                  <mat-option value="1">1</mat-option>
                  <mat-option value="1.5">1.5</mat-option>
                  <mat-option value="2">2</mat-option>
                  <mat-option value="2.5">2.5</mat-option>
                  <mat-option value="3">3</mat-option>
                  <mat-option value="3.5">3.5</mat-option>
                  <mat-option value="4">4</mat-option>
                  <mat-option value="4.5">4.5</mat-option>
                  <mat-option value="5">5</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-divider [vertical]="true"></mat-divider>
            </ng-template>

            <div id="set-actions" fxFlexLayout="column">
              <button id="delete-set-{{i}}" disabled="{{setAttributes}}" mat-icon-button matTooltip="{{'TRAINING_LOG.REMOVE_SET' | translate}}"
                [matTooltipPosition]="'right'" color="accent" (click)="removeGroup(i)">
                <i class="fas fa-trash"></i>
              </button>

              <button id="copy-down-{{i}}" disabled="{{setAttributes}}" mat-icon-button color="accent"
                matTooltip="{{'TRAINING_LOG.COPY_DOWN' | translate}}" [matTooltipPosition]="'right'"
                (click)="copyDown(i)">
                <i class="fas fa-chevron-down"></i>
              </button>
            </div>

          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="mt-2 dialog-form-actions" fxLayout="row" fxLayoutAlign="space-between">
    <button mat-button (click)="onClose()">{{'SHARED.CLOSE' | translate}}</button>
    <button mat-stroked-button color="accent" (click)="onSubmit()"
      [disabled]="!isFormValid">{{ (data.action == 'Create' ? 'SHARED.ADD' : 'SHARED.SAVE') | translate }}</button>
  </div>

</span>
