<mat-toolbar color="primary" class="toolbar-navigation-bar no-padding" fxLayout="row" fxLayoutAlign="space-between center">

    <div id="left" fxLayout="row wrap" fxLayoutAlign="center center">
      <button mat-icon-button (click)="toggleSidenavEvent.emit()">
        <i class="fas fa-bars fa-lg"></i>
      </button>
      <span class="toolbar-title">{{ fullName }}</span>
    </div>

    <div id="right" fxLayout="row wrap" fxLayoutGap="1rem" fxLayoutAlign="center center">
      <i id="messaging" routerLink="chat" class="fas fa-comments"></i>
      <i id="notifications" class="fas fa-bell"></i>
      <ngx-avatar size="40" [matMenuTriggerFor]="userMenu" name="{{ fullName }}"></ngx-avatar>
     
      <mat-menu #userMenu="matMenu">

          <div class="container" fxLayout="column wrap" fxLayoutGap="1rem">
  
            <div id="avatar-settings-row" fxFlexAlign="end">
              <button mat-icon-button (click)="openSettingsEvent.emit()">
                <i id="settings" class="fas fa-cog"></i>
              </button>
            </div>
  
            <div id="avatar-content-row" fxFlexAlign="center">
              <ngx-avatar id="content-avatar" size="80" name="{{ fullName }}"></ngx-avatar>
            </div>
  
            <div id="avatar-actions-row" fxLayout="row wrap" fxLayoutGap="3rem" fxLayoutAlign="space-between center">
                <button mat-stroked-button routerLink="">
                  Homepage
                </button>
                <button id="logout" (click)="logoutEvent.emit()" mat-button color="accent">
                  Sign out
                </button>
            </div>
          </div>
  
        </mat-menu>
    </div>
    
 
</mat-toolbar>

<ng-container *ngIf="(loading$ | async)">
  <mat-progress-bar class="loading-bar" mode="indeterminate" color="accent"></mat-progress-bar>
</ng-container>