.block-exercise-table {
    .preview-container {
        width: max-content;
        position: absolute;

        border-radius: 15px;
        color: white;

        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }
}

.position-relative {
    position: relative !important;
}

.exericse-drag-placeholder {
    // background: #ccc;
    // border: dotted 3px #999;
    // transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
