@media (max-width: 600px) {

  app-current-subscription {
    #current-subscription {
      padding-top: 0 !important;

      & #body {
        margin-top: 2rem !important;

        & .actions {
          margin-top: 2rem !important;

          & #cancel {
              padding-right: 0 !important;
          }
        }
      }
    }
  }

  .main-screen {
      margin-top: 1rem !important;
  }
}
