@media (max-width: 600px) {

  app-current-subscription {
    #current-subscription {
      padding-top: 0 !important;

      & #body {
        margin-top: 2rem !important;

        & .actions {
          margin-top: 2rem !important;

          & #cancel {
              padding-right: 0 !important;
          }
        }
      }
    }
  }

  .dashboard-component {
    flex: 1 1 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    margin-right: 0;
  }

  .main-screen {
      margin-top: 1rem !important;
  }
}
