@import "./bootstrap/bootstrap.styles.scss";
@import "./material/material.styles.scss";
@import "./mobile.scss";

html,
body {
  height: 100%;
  // margin: 0;
  overflow: hidden;
}

.container {
  height: 100%;
  margin-left: 8px;
  margin-right: 8px;
}

.body-container {
  margin: 8px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

i {
  cursor: pointer;
}

.visible {
  visibility: visible !important;
}
.not-visible {
  visibility: hidden !important;
}

.no-padding {
  padding: 0 !important;
}
.no-margin {
  margin: 0 !important;
}

.center-margin{
  margin-top: auto;
  margin-bottom: auto;
}

.position-absolute {
  position: absolute !important;
}

.position-relative {
  position: relative !important;
}

.main-screen {
  margin-top: 3rem;
}

.details-container {
  margin-top: 1rem;
}

