@import "./bootstrap/bootstrap.styles.scss";
@import "./material/material.styles.scss";
@import "./mobile.scss";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  height: 100%;
  margin-left: 8px;
  margin-right: 8px;
}

.vertical-scroll {
  overflow-y: auto;
}

.body-container {
  margin: 8px;
}

// .mat-drawer-content {
#main-sidenav-content {
  display: flex !important;
  flex-direction: column;
  height: 100%;
  overflow-x: unset !important;
  // overflow-y: auto !important;
  overflow-y: unset !important;
}

#main-router-outlet + * {
  overflow-y: auto;
}

.dashboard-component {
  flex: 1 1 100%;
  max-width: calc(100% - 1rem); // account for margin-right: 1rem
  align-self: start;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

// to center items in dashboard sidebar
// because angular cdk drag drop has some issues with flexbox
// when i drag item to track and the item goes back to sidebar
// flexbox resets unexpectedly
.additional-padding {
  padding-left: 27%;
  padding-bottom: 1rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

i {
  cursor: pointer;
}

.visible {
  visibility: visible !important;
}
.not-visible {
  visibility: hidden !important;
}

.no-padding {
  padding: 0 !important;
}
.no-margin {
  margin: 0 !important;
}

.center-margin {
  margin-top: auto;
  margin-bottom: auto;
}

.position-absolute {
  position: absolute !important;
}

.position-relative {
  position: relative !important;
}

.main-screen {
  padding-top: 3rem;
}

.details-container {
  margin-top: 1rem;
}

.active {
  color: greenyellow;
}

.not-active {
  color: crimson;
}

.fa-1-3-5x {
  font-size: 1.35em;
}
.fa-1-5x {
  font-size: 1.5em;
}
.fa-1-7-5x {
  font-size: 1.75em;
}
.fa-2-3x {
  font-size: 2.3em;
}
.fa-5x {
  font-size: 5rem;
}

.row-center {
  align-self: center;
}

.pointer {
  cursor: pointer;
}

.pointer-events-none {
  pointer-events: none;
}
