@import "~@angular/material/theming";

@mixin chat-fullscreen-theme($theme) {
  .chat-body-container {
    height: 100%;
    overflow: auto;
  }

  .text-input {
    padding: 0 !important;

    .mat-form-field-wrapper {
      padding-bottom: 0;
      margin-bottom: 1rem;

      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}

