@import "~@angular/material/theming";

@mixin chat-fullscreen-theme($theme) {

  $background-palette: map-get($theme, background);
  $highlight: map-get($background-palette, hover);

  $foreground-palette: map-get($theme, foreground);
  $theme-disabled: map-get($foreground-palette, disabled);

  .friends-search-input {
    .mat-form-field-wrapper{
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }
  .friend-container {
    .friend {
      padding: 10px;
      cursor: pointer;
    }
    .selected-friend {
      background: red;
      background-color: rgba($highlight, 0.1) !important;
    }
    .friend:hover {
      background-color: rgba($highlight, 0.1) !important;
    }
  }

  .chat-body-container {
    height: 100%;

    .messages {
      overflow: auto;
      width: 100%;
      overflow-wrap: break-word;

      .message-row {
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;

        .message {
          min-width: 250px;
          max-width: 500px;
          padding: 10px;
          padding-bottom: 0px;
          border-radius: 5%;

          .body {

          }
          .date {
            font-size: 12px;
            color: $theme-disabled;
            margin-top: 2px;
            padding-bottom: 3px;
            padding-top: 7px;
          }
        }
      }

      .my-message {
        align-self: end;
      }

      .friend-message {

      }
    }

    .text-input {
      padding: 0 !important;

      .mat-form-field-wrapper {
        padding-bottom: 0;
        margin-bottom: 1rem;

        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
  }

}

