@import "~@angular/material/theming";

@mixin colors-theme($theme) {

  $primary: mat-color(map-get($theme, primary));
  $accent: mat-color(map-get($theme, accent));
  $warn: mat-color(map-get($theme, warn));

  $background-palette: map-get($theme, background);
  $border: map-get($background-palette, focused-button);
  $highlight: map-get($background-palette, hover);

  .primary-foreground {
      color: $primary;
  }
  .accent-foreground {
      color: $accent;
  }
  .warn-foreground {
      color: $warn;
  }

  .primary-background {
    background: $primary;
  }
  .accent-background {
    background: $accent;
  }
  .warn-background {
    background: $warn;
  }

  .highlight {
    background: rgba($highlight, 0.3);
  }
}