@import "~@angular/material/theming";

@mixin dashboard-feed-items-theme($theme) {
  $background-palette: map-get($theme, background);
  $highlight: map-get($background-palette, hover);

  $foreground-palette: map-get($theme, foreground);
  $theme-disabled: map-get($foreground-palette, disabled);

  .user-activities-headers-align .mat-expansion-panel-header-title,
  .activities-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
    align-items: center;
  }

  .activities-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }

  .activities-headers-align .mat-expansion-panel-header-description.mobile-expansion-panel {
    flex-grow: 0 !important;
    justify-content: flex-end;
    margin-right: 0 !important;
  }

  .feed-activities-title {
    font-weight: bold;
    margin: 1rem;
  }

  .feed-user-panels-container {
    max-height: 87vh;
    width: 100%;
    height: 100%;
    overflow-y: auto;

    .user-activities-panel {
      .user-activities-header .mat-expansion-panel-header-title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
    }
  }

  .feed-user-avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }

  .media-feed-item {
    &__image {
      max-width: 150px;
      cursor: pointer;
    }
    &__video {
      max-width: 150px;
      cursor: pointer;
    }
  }

  .feed-viewport {
    height: 100%;
    width: 100%;

    .feed-item-container {
      margin-left: 5px;
      margin-right: 5px;

      .feed-item {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        border-radius: 10px;
        /* max-width: 30%; */
        width: 100%;
        padding: 15px;
        padding-bottom: 5px;

        &.unread {
          background-color: rgba(0, 0, 0, 0.4);
        }

        &:hover {
          background-color: rgba(0, 0, 0, 0.1) !important;
          cursor: pointer;
        }

        &__footer {
          font-size: 12px;
          color: $theme-disabled;
          margin-top: 2px;
          padding-bottom: 3px;
          padding-top: 7px;
        }
      }
    }
  }
}
