@import "~@angular/material/theming";

@mixin dashboard-cards-theme($theme) {
    .dashboard-component {
        flex: 1 1 calc(50% - 0.25rem); // because of fxLayoutGap
        padding: 3px;
        max-height: calc(50% - 0.25rem);

        .mat-form-field-wrapper {
            padding: 0;
        }
    }
    
}
