@import "~@angular/material/theming";

@mixin exercise-type-chips-component-theme($theme) {

    mat-chip {
        cursor: pointer;
    }

    .exercise-type-preview-container{
        margin-top: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .property-chip {
        margin: unset !important;
        margin-top: 1px !important;
        margin-bottom: 1px !important;
        margin-right: 3px !important;
        min-height: unset !important;
        font-size: 12px;
        padding: 8px 8px !important;
    }

    .mat-chip-list-wrapper {
        margin-top: 3px !important;
        margin-bottom: 10px !important;
        margin: unset !important;
    }

    mat-option {
        height: auto !important;
        line-height: unset !important;
        padding: 8px 16px !important;
    }

    .mat-chip.mat-standard-chip.mat-chip-disabled {
        opacity: 1 !important;

        &.disabled-chip {
          opacity: 0.6 !important;
          text-decoration: line-through;
        }
    }

    @media(max-width: 599px) {

        mat-option {
            padding: 6px 16px !important;
        }
    }
}
