@import "~@angular/material/theming";

@mixin media-uploader-theme($theme) {
  $primary: mat-color(map-get($theme, primary));
  $accent: mat-color(map-get($theme, accent));
  $warn: mat-color(map-get($theme, warn));

  .theme-media-uploader {
    .media-container {
      padding: 5px;

      height: 150px;
      width: 150px;
      cursor: pointer;
    }

    .media-container:hover {
      background: rgba(0, 0, 0, 0.1);
      opacity: 0.6;
    }

    .image-container {
      @extend .media-container;

      img {
        max-height: 100%;
      }
    }

    .video-container {
      @extend .media-container;

      video {
        max-height: 100%;
        max-width: 100%;
        height: auto;
      }
    }

    .input-wrapper {
      @extend .media-container;
    }
    .input-wrapper:hover {
      opacity: initial;
    }

    .input-container {
      height: 100%;
    }

    .upload-progress-bar {
      width: 5rem;
    }
  }

  @media (max-width: 600px) {
    .theme-media-uploader {
      .media-container {
        padding: 3px;
        height: 70px;
        max-height: 70px;
        max-width: 70px;
      }
    }
  }
}
