@import "~@angular/material/theming";

@mixin notifications-menu-theme($theme) {
  $primary: mat-color(map-get($theme, primary));
  $accent: mat-color(map-get($theme, accent));
  $warn: mat-color(map-get($theme, warn));

  $background-palette: map-get($theme, background);
  $background-color: map-get($background-palette, background);
  $border-color: map-get($background-palette, focused-button);
  $color: map-get($background-palette, foreground);

  .toast-container .ngx-toastr {
    background: darken($primary, 25%);
    // background: darken($background-color, 10%);
    color: $color !important;

    border-radius: 15px;
    border: 0.5px solid $border-color;

    box-shadow: none;

    &:hover {
      box-shadow: 0 0 12px $border-color;
      cursor: pointer;
      /* background-color: rgba(0,0,0,0.1); */
      opacity: 1;
    }
  }

  .notifications-menu-container {
    &.mat-menu-panel {
      min-width: 430px;
      height: 360px;
    }

    .mat-menu-content:not(:empty) {
      padding: 0px;
    }

    .mat-menu-content {
      height: 100%;
      width: 100%;

      .virtual-scroll-item {
        height: 60px;
        width: 100%;

        .notification-container {
          height: 100%;
          padding: 10px;

          &.unread {
            background-color: rgba(0, 0, 0, 0.4);
          }

          &:hover {
            background-color: rgba(0, 0, 0, 0.1) !important;
            cursor: pointer;
          }
        }
      }
    }
  }

  .notification-body-container {
    #payload {
      font-size: 15px;
    }

    #metadata {
      font-size: 10px;
    }
  }

  @media (max-width: 600px) {
    // menu container
    .notifications-menu-container {
      &.mat-menu-panel {
        min-width: 250px;
        height: 360px;
      }

      .virtual-scroll-item {
        height: 40px;
      }
    }

    .notification-body-container {
      #payload {
        font-size: 12px;
      }

      #metadata {
        font-size: 7px;
      }
    }
  }
}
