<mat-sidenav-container class="sidenav-container">

  <mat-sidenav class="sidenav" [autoFocus]="false">
      <app-sidebar></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content>
    
      <app-toolbar 
      [fullName]="userFullName" 
      [loading$]="loading$"
      (openSettingsEvent)="onOpenSettings($event)" 
      (toggleSidenavEvent)="onToggleSidebar($event)" 
      (logoutEvent)="onLogout($event)" 
      ></app-toolbar>

      <router-outlet></router-outlet>
      <ng-chat [hideFriendsList]="true" fxHide.xs [adapter]="chatAdapter" [userId]="userId" [theme]="theme" (onMessagesSeen)="onMessagesSeen($event)" [fileUploadUrl]="chatService.url + 'UploadChatFile'"></ng-chat>
  </mat-sidenav-content>

</mat-sidenav-container>
