<mat-sidenav-container class="sidenav-container">

  <mat-sidenav class="sidenav" [autoFocus]="false">
      <app-sidebar></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content class="main-sidenav-content">

    <app-toolbar *ngIf="!showTabs"></app-toolbar>

    <router-outlet class="main-router-outlet"></router-outlet>

    <app-tabs *ngIf="showTabs"></app-tabs>

    <app-chat-small *ngIf="showSmallChat" [config]="chatConfig" [userId]="userId"></app-chat-small>

    </mat-sidenav-content>

</mat-sidenav-container>
