<mat-sidenav-container class="sidenav-container">

  <mat-sidenav class="sidenav" [autoFocus]="false" [opened]="mediaObserver.isActive('gt-md')"
    [mode]="mediaObserver.isActive('gt-md') ? 'side' : 'over'">
    <app-sidebar [isMobile]="!mediaObserver.isActive('gt-md')"></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content class="main-sidenav-content">

    <!-- <app-pull-to-refresh></app-pull-to-refresh> -->
    <app-toolbar></app-toolbar>

    <div [@easeInOut]="prepareRoute(outlet)" class="h-100 w-100">
      <router-outlet #outlet="outlet" class="main-router-outlet"></router-outlet>
    </div>

    <app-chat-small *ngIf="showSmallChat"></app-chat-small>

  </mat-sidenav-content>

</mat-sidenav-container>