.legend-row:hover {
    .delete-legend-btn {
        visibility: visible;
    }
}

.legend-row {
    .delete-legend-btn {
        visibility: hidden;
    }
}

.card-chart-title {
    margin-bottom: 0 !important;
}

.auto-height-tag-scroll {
    // max-height: 40px !important;
    // height: 40px !important;
    
    // * > {
    //     height: 40px !important;
    //     max-height: 40px !important;
    // }
}

form {
    font-size: 11px;
}