.legend-row:hover {
    .delete-legend-btn {
        visibility: visible;
    }
}

.legend-row {
    .delete-legend-btn {
        visibility: hidden;
    }
}

.card-chart-title {
    margin-bottom: 0 !important;
}
