.chart-legend:hover {
    .delete-legend-btn {
        visibility: visible;
    }
}

.chart-legend {
    .delete-legend-btn {
        visibility: hidden;
    }
}

.card-chart-title {
    margin-bottom: 0 !important;
}
