<div class="controls" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="actions" fxLayout="row" fxLayoutGap="5px" fxLayoutGap.xs="0px">
        <button mat-icon-button color="accent" (click)="previousMonth()">
            <i class="fas fa-arrow-left"></i>
        </button>
        <button mat-icon-button color="accent" (click)="currentMonth()">
            <i class="fas fa-dot-circle"></i>
        </button>
        <button mat-icon-button color="accent" (click)="nextMonth()">
            <i class="fas fa-arrow-right"></i>
        </button>
    </div>

    <label class="current-month-year-label">{{ displayMonthAndYear(currentDay) }}</label>
</div>
<div class="month-container" fxLayout="column" fxFlexFill> 
    <ng-container *ngFor="let week of calendar.weeks" >

        <div class="weekdays-container" fxLayout="row" fxFlex="1 1 100%">
            <ng-container *ngFor="let calDay of week.days">
                <div
                fxFlex="1 1 100%"
                class="date" 
                [ngClass]="{'sunday': isSunday(calDay.day), 'today': isToday(calDay.day)}"
                fxLayout="column"
                (click)="selectDay(calDay)"
                >

                    <label [ngClass]=" belongsToThisMonth(calDay.day, currentDay) ? 'day-label' : 'not-relevant-day-label' "> 
                        {{ displayDateDay(calDay.day) }} 
                    </label> 
                    
                    <div class="day-content" fxLayout="column" fxLayoutAlign="center center">

                        <button *ngIf="!calDay.event" class="add-button" mat-icon-button color="accent" (click)="add(calDay.day)">
                            <i class="fas fa-plus"></i>
                        </button>

                        <button *ngIf="calDay.event" class="event-button" mat-icon-button color="warn" (click)="open(calDay.event)">
                            <i class="{{ eventIcon }}"></i>
                        </button>
                    </div>

                </div>
            </ng-container>
        </div>
        
    </ng-container>
</div>