@import "~@angular/material/theming";

@mixin create-edit-sets-theme($theme) {
  $primary: mat-color(map-get($theme, primary));
  $accent: mat-color(map-get($theme, accent));
  $warn: mat-color(map-get($theme, warn));

  $accent-light: mat-color(map-get($theme, accent), 100);
  /*#region Sets - Create Edit*/

  .sets-dialog-container .mat-dialog-container {
    margin: 0;
    overflow: hidden;
  }

  .sets-dialog-container .mat-dialog-content {
    padding: 0px 10px;
  }

  #set-create-edit {
    .mat-form-field-infix {
      width: 100% !important;
    }

    #set-number {
      height: 40px;
      display: flex;
      align-items: center;
      color: $accent;
      margin-top: 5px;
      margin-right: 10px;
    }

    .mat-icon-button {
      width: 30px;
      height: 30px;
      line-height: 30px;
      &.active {
        background-color: $accent-light;
      }
    }

    .mat-dialog-content {
      max-height: 57vh;
    }
  }

  .set-container {
    .mat-form-field-wrapper {
      padding-bottom: 0 !important;
    }
  }

  /*#endregion RegionName*/

}
