<div class="container main-screen" fxLayout="row wrap" fxLayoutGap="0.5rem" fxLayoutAlign="space-between" fxLayout.lt-md="column">

    <app-training-program-list fxFlex="0 0 calc(50% - 0.5rem)" fxFlex.lt-md="0 0 auto"></app-training-program-list>
    <app-training-program-details fxFlex="0 0 calc(50% - 0.5rem)" fxFlex.lt-md="0 0 auto"></app-training-program-details>
    <app-training-block-list fxFlex="0 0 calc(50% - 0.5rem)" fxFlex.lt-md="0 0 auto"></app-training-block-list>
    <app-training-block-details fxFlex="0 0 calc(50% - 0.5rem)" fxFlex.lt-md="0 0 auto"></app-training-block-details>
    <app-training-block-day-list fxFlex="0 0 calc(50% - 0.5rem)" fxFlex.lt-md="0 0 auto"></app-training-block-day-list>
</div>

