<!-- <div class="p-2 pb-5" fxLayout="row wrap" fxLayoutGap="0.5rem" fxLayoutAlign="space-between" fxLayout.lt-md="column">

</div> -->

<mat-tab-group headerPosition="below" mat-stretch-tabs [disablePagination]="true" [color]="'accent'">

  <!-- <mat-tab [active]=""> -->
  <mat-tab>
    <ng-template mat-tab-label>
      <p>Training program</p>
    </ng-template>
    <ng-template matTabContent>

      <div class="h-100 p-2 pb-5" fxLayout="row wrap" fxLayoutGap="0.5rem" fxLayoutAlign="space-between" fxLayout.lt-md="column">

        <app-training-program-list fxFlex="0 0 calc(50% - 0.5rem)" fxFlex.lt-md="0 0 auto">
        </app-training-program-list>
        <app-training-program-details *ngIf="programSelected" fxFlex="0 0 calc(50% - 0.5rem)" fxFlex.lt-md="0 0 auto">
        </app-training-program-details>

      </div>

    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <p>Training block</p>
    </ng-template>
    <ng-template matTabContent>

      <div class="h-100 p-2 pb-5" fxLayout="row wrap" fxLayoutGap="0.5rem" fxLayoutAlign="space-between" fxLayout.lt-md="column">

        <app-training-block-list *ngIf="programSelected" fxFlex="0 0 calc(50% - 0.5rem)" fxFlex.lt-md="0 0 auto">
        </app-training-block-list>
        <app-training-block-details *ngIf="blockSelected" fxFlex="0 0 calc(50% - 0.5rem)" fxFlex.lt-md="0 0 auto">
        </app-training-block-details>

      </div>

    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <p>Training block day</p>
    </ng-template>
    <ng-template matTabContent>

      <div class="h-100 p-2 pb-5" fxLayout="row wrap" fxLayoutGap="0.5rem" fxLayoutAlign="space-between" fxLayout.lt-md="column">

        <app-training-block-day-list *ngIf="blockSelected" fxFlex="0 0 calc(50% - 0.5rem)" fxFlex.lt-md="0 0 auto">
        </app-training-block-day-list>
        <app-training-list *ngIf="blockDaySelected" [partOfTrainingProgram]="true" fxFlex="0 0 calc(50% - 0.5rem)" fxFlex.lt-md="0 0 auto">
        </app-training-list>

      </div>

    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <p>Training exercises</p>
    </ng-template>
    <ng-template matTabContent>

      <div class="h-100 p-2 pb-5" fxLayout="row wrap" fxLayoutGap="0.5rem" fxLayoutAlign="space-between" fxLayout.lt-md="column">

        <app-exercise-list *ngIf="trainingSelected" fxFlex="0 0 calc(50% - 0.5rem)" fxFlex.lt-md="0 0 auto">
        </app-exercise-list>
        <app-set-list *ngIf="exerciseSelected" fxFlex="0 0 calc(50% - 0.5rem)" fxFlex.lt-md="0 0 auto">
        </app-set-list>

      </div>

    </ng-template>
  </mat-tab>

</mat-tab-group>
