<h2>Payment information: </h2>

<div class="checkout-form">
    <form [formGroup]="checkoutForm">
        <div class="row ">
          <div class="col">
            <mat-form-field>
              <input matInput formControlName="name" placeholder="Name">
              <mat-error *ngIf="name.invalid">*</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row ">
          <div class="col">
            <mat-form-field>
              <input matInput formControlName="phone" placeholder="Phone">
              <mat-error *ngIf="phone.invalid">{{ getErrorMessage }}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field>
              <input matInput placeholder="Select a country" formControlName="country" [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let country of filteredCountries | async" [value]="country">
                  {{ country }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </div>
        <div class="row ">
          <div class="col">
            <mat-form-field>
              <input matInput formControlName="address" placeholder="Address">
            </mat-form-field>
          </div>
        </div>
        <div class="row ">
          <div class="col-6">
            <mat-form-field>
              <input matInput formControlName="city" placeholder="City">
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field>
              <input matInput formControlName="state" placeholder="State">
            </mat-form-field>
          </div>
        </div>
      </form>
</div>


<ngx-stripe-card  autocomplete="off" class="mt-3" [options]="cardOptions" [elementsOptions]="elementsOptions" (error)="error = $event">
</ngx-stripe-card>
<div *ngIf="error" class="alert alert-danger" style="font-size: 13px">
  {{error}}
</div>
<div class="row mt-5">
  <div class="col-12">
    <button class="float-left" mat-button color="accent" (click)="onClose()">Go back</button>
    <button class="float-right" mat-stroked-button color="primary" (click)="getCardToken()"
      [disabled]="!complete && !checkoutForm.valid">Finish</button>
  </div>
</div>