<h2>{{ 'SETTINGS.BILLING.PAYMENT_INFO' | translate }}: </h2>

<div class="checkout-form" fxLayout="column">
  <form [formGroup]="checkoutForm">

    <mat-form-field>
      <input matInput formControlName="name" placeholder="{{ 'SETTINGS.BILLING.NAME' | translate }}">
      <mat-error *ngIf="name.invalid"></mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="phone" placeholder="{{ 'SETTINGS.BILLING.PHONE' | translate }}">
      <mat-error *ngIf="phone.invalid"></mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="{{ 'SETTINGS.BILLING.COUNTRY' | translate }}" formControlName="country"
        [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let country of filteredCountries | async" [value]="country.name">
          <div fxLayout="row" fxLayoutAlign="start center">
            <img class="flag mat-elevation-z3" src="{{country.flag}}" height="25" />
            <div> {{country.alpha2Code}} - {{ country.name }} </div>
          </div>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="address" placeholder="{{ 'SETTINGS.BILLING.ADDRESS' | translate }}">
      <mat-error *ngIf="address.invalid"></mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="city" placeholder="{{ 'SETTINGS.BILLING.CITY' | translate }}">
      <mat-error *ngIf="city.invalid"></mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="state" placeholder="{{ 'SETTINGS.BILLING.STATE' | translate }}">
      <mat-error *ngIf="state.invalid"></mat-error>
    </mat-form-field>
  </form>
</div>


<ngx-stripe-card autocomplete="off" class="mt-3" [options]="cardOptions" [elementsOptions]="elementsOptions"
  (error)="error = $event">
</ngx-stripe-card>
<div *ngIf="error" class="alert alert-danger" style="font-size: 13px">
  {{error}}
</div>

<div id="actions" class="mt-2" fxLayout="row" fxLayoutAlign="space-between">
  <button mat-button (click)="onClose()">{{ 'SETTINGS.BILLING.GO_BACK' | translate }}</button>
  <button mat-stroked-button color="accent" (click)="getCardToken()"
    [disabled]="!complete && !checkoutForm.valid">{{ 'SETTINGS.BILLING.FINISH' | translate }}</button>
</div>