<span *ngIf="!(isUploading | async).uploading" fxLayout="row" fxLayoutAlign="space-between center">

  <button  mat-stroked-button color="primary" (click)="triggerUploadMediaInput()">
    {{'EXPORT_IMPORT.IMPORT_LABEL' | translate}}
    <i matSuffix class="ml-2 fas fa-upload fa-1x ml-1 primary-foreground"></i>
  </button>

  <input fxHide="true" #uploadInput type="file" (change)="uploadMedia($event.target.files)" accept="{{fileTypesToAccept}}" />

  <span *ngIf="(isUploading | async).response">
    <label class="mr-1">{{'EXPORT_IMPORT.LAST_IMPORT' | translate}}: </label>
    <app-active-flag id="active-flag" [active]="(isUploading | async).response.success"></app-active-flag>
  </span>

</span>

<mat-progress-bar class="w-100" *ngIf="(isUploading | async).uploading" mode="indeterminate"></mat-progress-bar>
