<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Info"
      internalLogFile="${currentdir:cached=true}\..\..\..\Logs\Internal.txt">
	<!--internalLogToConsole="true"-->

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="NLog.Targets.Seq"/>
	</extensions>

	<!-- the targets to write to -->
	<targets async="true">

		<target name="seq" xsi:type="BufferingWrapper" bufferSize="1000" flushTimeout="2000">

			<target xsi:type="Seq" serverUrl="http://seq:5341">
				<property name="ThreadId" value="${threadid}" as="number" />
				<property name="MachineName" value="${machinename}" />
				<property name="Source" value="${logger}" />
			</target>

		</target>

		<target xsi:type="File" name="logFile" fileName="${aspnet-appbasepath}\..\..\Logs\App_${shortdate}.txt"
		        layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

		<target xsi:type="Console" name="logConsole"
		        layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

	</targets>

	<!-- rules to map from logger name to target -->
	<rules>

		<!--Skip non-critical Microsoft logs and so log only own logs-->
		<logger name="Microsoft.*" maxlevel="Warn" final="true" />

		<!--Some relevant microsoft logs on start of the app -->
		<logger name="Microsoft.Hosting.Lifetime" level="Info" writeTo="logConsole, logFile, seq" final="true" />

		<!--All other logger events -->
		<logger name="*" minlevel="Trace" writeTo="logConsole, logFile, seq" />

	</rules>
</nlog>