<mat-chip-list class="property-chips-list" (mousedown)="$event.stopPropagation()" (click)="$event.stopPropagation()">

  <drag-scroll
    style="height: 100%; width: 100%"
    [scrollbar-hidden]="true"
    [scroll-x-wheel-enabled]="true"
    [drag-scroll-y-disabled]="true">

    <app-exercise-type-chip
      *ngFor="let property of propertyList"
      [value]="property.tag.value"
      [show]="property.show"
      [groupActive]="property.tag.tagGroup.active"
      [backgroundColor]="property.tag.tagGroup.hexBackground"
      [color]="property.tag.tagGroup.hexColor"
      [showInactiveGroups]="showInactiveGroups"
      [showInactiveTags]="showInactiveTags"
      [disableAll]="disableAll">
    </app-exercise-type-chip>

  </drag-scroll>

</mat-chip-list>
