<div class="details-container mat-elevation-z3" *ngIf="(tagGroup$ | async) as type">

    <h1 class="details-header" fxLayout="row" fxLayoutAlign="space-between">

        <span>{{type.type}}</span>

        <button class="mr-1" mat-stroked-button color="accent" (click)="onSetActive(!type.active)">
            {{ (type.active ? 'SHARED.DEACTIVATE' : 'SHARED.ACTIVATE') | translate}}
        </button>
    </h1>

    <mat-divider></mat-divider>

    <div class="details-body" gdAreas="left-label left-value" gdColumns="max-content auto">

        <div gdArea="left-label">
            <div class="detail">
                <mat-label class="label">{{ 'SHARED.ORDER' | translate }}:</mat-label>
            </div>
            <div class="detail">
                <mat-label class="label">{{ 'TAGS.DESCRIPTION' | translate }}:</mat-label>
            </div>
            <div class="detail">
                <mat-label class="label">{{ 'TAGS.TAG' | translate }}:</mat-label>
            </div>
            <div class="detail">
                <mat-label class="label">{{ 'SHARED.ACTIVE' | translate }}:</mat-label>
            </div>
        </div>

        <div gdArea="left-value">
            <div class="detail">
                <span class="label-value">{{type.order + 1}}.</span>
            </div>
            <div class="detail">
                <span class="label-value">TODO - this will be textarea in create edit dialog</span>
            </div>
            <div class="detail">
                <span class="label-value" style="display: inline-flex">
                    <app-exercise-type-chip [color]="type.hexColor" [backgroundColor]="type.hexBackground">
                    </app-exercise-type-chip>
                </span>
            </div>
            <div class="detail">
                <span class="label-value">
                    <app-active-flag [active]="type.active"></app-active-flag>
                </span>
            </div>
        </div>

    </div>

    <div class="details-footer">
    </div>

</div>