span {
  margin-left: 1rem;
}

#actions {
    margin-top: 2rem;
}

.spinner-center {
  position: absolute;
  left: 43%;
  top: 43%;
}

// #subscription-placeholder {
//   width: 300px;
//   max-width: 300px;
// }

@media (max-width: 600px) {

  #current-subscription {
    padding-top: 0;

    & #body {
      margin-top: 2rem;

      & #actions {
        justify-content: space-between !important;

        & #cancel {
          padding-right: 0;
        }
      }
    }
  }
}
