<div *ngIf="subscription" id="current-subscription"
 fxLayout="row" fxLayout.xs="column" fxLayoutGap="8px" fxLayoutAlign="center center">

  <div id="subscription-placeholder">
    <app-plan [plan]="subscriptionItem.plan" [showSubscribeButton]="false"
      [colorIndex]="1"></app-plan>
  </div>

  <div id="body" fxFlexOffset="2rem" fxLayout="column" fxLayoutAlign="center center">

    <div id="details" >
      <label><b>{{ 'SETTINGS.BILLING.STATUS' | translate }}:</b></label>
      <span>{{ SubscriptionStatusTranslation[subscription.status] | translate }}</span>

      <div *ngIf="SubscriptionStatus[subscription.status.toLowerCase()] == SubscriptionStatus.trialing">
        <label><b>{{ 'SETTINGS.BILLING.TRIAL_END' | translate}}:</b></label>
        <span>{{ subscription.trial_end * 1000 | date:'mediumDate' }}</span>
      </div>
    </div>

    <div id="actions" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5rem">

      <div id="cancel">
        <button mat-button color="warn" (click)="cancelSubscription.emit(subscription.id)">{{ 'SHARED.CANCEL' | translate}}</button>
      </div>

      <div id="change">
        <button mat-stroked-button color="accent" (click)="onUpgrade(subscription.id)">{{ 'SETTINGS.BILLING.CHANGE' | translate }}</button>
      </div>
    </div>

  </div>
</div>
