<div *ngIf="subscription" id="current-subscription" 
 fxLayout="row" fxLayout.xs="column" fxLayoutGap="8px" fxLayoutAlign="center center">

  <div id="subscription-placeholder">
    <app-plan [plan]="subscription.plan" [showSubscribeButton]="false"
      [colorIndex]="1"></app-plan>
  </div>

  <div id="body" fxFlexOffset="2rem" fxLayout="column" fxLayoutAlign="center center">

    <div id="details" >
      <label><b>Status:</b></label>
      <span>{{ subscription.status | titlecase }}</span>

      <div *ngIf="SubscriptionStatus[subscription.status.toLowerCase()] == SubscriptionStatus.trialing">
        <label><b>Trial is ending on:</b></label>
        <span>{{ subscription.trial_end * 1000 | date:'mediumDate' }}</span>
      </div>
    </div>

    <div id="actions" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5rem">

      <div id="cancel">
        <button mat-button color="accent" (click)="cancelSubscription.emit(subscription.id)">Cancel</button>
      </div>

      <div id="change">
        <button mat-stroked-button color="primary" (click)="onUpgrade(subscription.id)">Change</button>
      </div>
    </div>

  </div>
</div>