<div class="details-container mat-elevation-z3">

  <h1 class="details-header" fxLayout="row" fxLayoutAlign="space-between">
    <span>Import data</span>
  </h1>

  <mat-divider></mat-divider>

  <div class="details-body" fxLayout="column" fxLayoutGap="0.5rem">
    <mat-form-field>
      <mat-label>Import type</mat-label>
      <mat-select>
        <mat-option *ngFor="let type of importEntities | enumToArray" [value]="type">
          {{ type.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="details-footer">
    Footer
  </div>

</div>