<div class="details-container mat-elevation-z3">

  <h1 class="details-header" fxLayout="row" fxLayoutAlign="space-between">
    <span>Import data</span>
  </h1>

  <mat-divider></mat-divider>

  <div class="details-body" fxLayout="column" fxLayoutGap="0.5rem">
    <mat-form-field style="width: 250px">
      <mat-label>Import type</mat-label>
      <mat-select [(value)]="selectedImportType">
        <mat-option *ngFor="let type of importEntities | enumToArray" [value]="type.name">
          {{ type.name | splitPascalCase | titlecase}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <ng-container [ngSwitch]="selectedImportType">

    <ng-container *ngSwitchCase="'ExerciseTypes'">
      <app-exercise-type-import></app-exercise-type-import>
    </ng-container>

    <ng-container *ngSwitchCase="'Training'">
      <app-training-import></app-training-import>
    </ng-container>

  </ng-container>

  <div class="details-footer">
    <!-- Footer -->
  </div>

</div>
