<div fxLayout="column">

  <button mat-stroked-button class="m-3" (click)="toggleSidenav()">
    Save customization
  </button>

  <div id="trackItemsList" class="p-3 mb-4" fxLayout="column" fxLayoutAlign="center" cdkDropList
    #componentsList="cdkDropList" [cdkDropListConnectedTo]="['track1', 'track2', 'trackItemsList']"
    [cdkDropListData]="mainDashboardComponents" [cdkDropListSortingDisabled]="true"
    (cdkDropListDropped)="drop.emit({event: $event, trackIdx: null})" (cdkDragEntered)="dragEnter.emit($event)"
    (cdkDragEnded)="dragEnd.emit()">

    <div *ngFor="let component of mainDashboardComponents" cdkDrag (cdkDragEntered)="dragEnter.emit($event)"
      (cdkDragEnded)="dragEnd.emit()">
      <ng-container [ngSwitch]="component.component">
        <div *ngSwitchCase="dashboardCards.Volume">
          <h4>Track exercises volume: </h4>
          <app-chart [configuration]="volumeChartPreviewConfiguration"></app-chart>
        </div>
        <div *ngSwitchCase="dashboardCards.Max">
          <h4>Track exercises volume: </h4>
          <i class="fas fa-chart-pie fa-5x row-center additional-padding"></i>
        </div>
      </ng-container>
    </div>
  </div>

</div>