<div id="training-calendar-day-container" class="h-100 w-100" fxLayout="row" fxLayoutAlign="space-evenly center">
  <div class="training-label primary-background primary-background-darker-hover"
    fxLayout="row" fxLayoutAlign="space-between center"
    fxLayoutAlign.xs="center center"

    [matTooltip]="training.exercises.length == 0 ? 'No training summary, click to add' : ''"
    [matTooltipPosition]="'above'"

    (mouseenter)="showPreview = true"
    (mouseleave)="showPreview = false"

    (press)="onPress()"
    (click)="onClick()">

    <!--SUMMARY PREVIEW - TODO put in component or ng-template -->
    <div fxHide.xs class="preview-container theme-tooltip-background mat-elevation-z16"
      *ngIf="showPreview && training.exercises && training.exercises.length > 0" (mouseenter)="showPreview = false">
      <h5><b>Summary</b></h5>
      <mat-divider></mat-divider>
      <div class="exercise-preview-container" fxLayout="column">
        <ng-container *ngFor="let exercise of filterBy(training.exercises, 'order'); let i = index">
            <label>{{i + 1}}. {{exercise.exerciseType.name}}</label>
        </ng-container>
      </div>
    </div>

    <!--ACTIONS MENU FOR MOBILE VIEW - ON LONG PRESS -->
    <div class="training-label__cover" #actionsTrigger="matMenuTrigger" [matMenuTriggerFor]="actionsMenu"></div>

    <label style="cursor: pointer;"> {{ training.dateTrained | applyTimezone }} </label>
    <div id="actions" fxHide.xs fxLayout="row" fxLayoutAlign="space-evenly" fxLayoutGap="5px">

      <button mat-icon-button color="accent" button-size size="20px"
      (click)="onCopy()" (click)="$event.stopPropagation()"
      [matTooltip]="'Copy training'" [matTooltipPosition]="'right'">
        <i class="fas fa-copy accent-foreground"></i>
      </button>

      <button mat-icon-button color="accent" button-size size="20px"
      (click)="onDelete()" (click)="$event.stopPropagation()"
      [matTooltip]="'Delete training'" [matTooltipPosition]="'right'">
        <i class="fas fa-trash accent-foreground"></i>
      </button>

    </div>
  </div>

  <!-- MOBILE VIEW ACTIONS -->
  <mat-menu #actionsMenu="matMenu" [hasBackdrop]="false">
    <div fxLayout="column">
      <button mat-menu-item (click)="onCopy()" (click)="$event.stopPropagation()">
        <i class="fas fa-copy accent-foreground"></i>
        <span class="ml-2">Copy training</span>
      </button>

      <button mat-menu-item (click)="onDelete()" (click)="$event.stopPropagation()">
        <i class="fas fa-trash accent-foreground"></i>
        <span class="ml-2">Delete training</span>
      </button>
    </div>
  </mat-menu>

</div>
