<div id="training-calendar-day-container" class="h-100 w-100" fxLayout="row" fxLayoutAlign="space-evenly center">
  <!-- <div id="icon">
    <button
        #trainingButton
        mat-icon-button
        color="warn"
        [matTooltip]="training.exercises.length == 0 ? 'No training summary, click to add' : ''"
        [matTooltipPosition]="'above'"

        (mouseenter)="onMouseEnter($event)"
        (mouseleave)="onMouseLeave($event)"
        (press)="onPress()"
        (click)="onClick($event)"
      >
      <i class="fas fa-dumbbell warn-foreground" [ngClass.xs]="'fa-1-5x'" [ngClass.gt-xs]="'fa-1-5x'"
        [ngClass.gt-sm]="'fa-1-7-5x'" [ngClass.gt-md]="'fa-2x'"></i>
        <div #trainingPreviewTrigger="matMenuTrigger" [matMenuTriggerFor]="trainingPreview"></div>
        <div #actionsTrigger="matMenuTrigger" [matMenuTriggerFor]="actionsMenu"></div>
    </button>
  </div> -->

  <div 
    class="training-label primary-background" 
    fxLayout="row" fxLayoutAlign="space-between center"
    
    [matTooltip]="training.exercises.length == 0 ? 'No training summary, click to add' : ''"
    [matTooltipPosition]="'above'" 
    
    (mouseenter)="showPreview = true" 
    (mouseleave)="showPreview = false"
    
    (press)="onPress()" 
    (click)="onClick()">

    <!--SUMMARY PREVIEW - TODO put in component or ng-template -->
    <div class="preview-container theme-tooltip-background mat-elevation-z16"
      *ngIf="showPreview && training.exercises && training.exercises.length > 0">
      <h5><b>Summary</b></h5>
      <mat-divider></mat-divider>
      <div class="exercise-preview-container">
        <ng-container *ngFor="let exercise of filterBy(training.exercises, 'order'); let i = index">
            <label>{{i + 1}}. {{exercise.exerciseType.name}}</label>
        </ng-container>
      </div>
    </div>

    <!--ACTIONS MENU FOR MOBILE VIEW - ON LONG PRESS -->
    <div class="training-label__cover" #actionsTrigger="matMenuTrigger" [matMenuTriggerFor]="actionsMenu"></div>


    <label style="cursor: pointer;"> {{ training.dateTrained | applyTimezone | date:'shortTime' }} </label>
    <div id="actions" fxHide.xs fxLayout="row" fxLayoutAlign="space-evenly">

      <button mat-icon-button color="accent" (click)="onCopy()" (click)="$event.stopPropagation()" [matTooltip]="'Copy training'"
        [matTooltipPosition]="'right'">
        <i class="fas fa-copy accent-foreground"></i>
      </button>

      <button mat-icon-button color="accent" (click)="onDelete()" (click)="$event.stopPropagation()" [matTooltip]="'Delete training'"
        [matTooltipPosition]="'right'">
        <i class="fas fa-trash accent-foreground"></i>
      </button>

    </div>
  </div>

  <!-- MOBILE VIEW ACTIONS -->
  <mat-menu #actionsMenu="matMenu" [hasBackdrop]="false">
    <div fxLayout="column">
      <button mat-menu-item (click)="onCopy($event)">
        <i class="fas fa-copy accent-foreground"></i>
        <span class="ml-2">Copy training</span>
      </button>

      <button mat-menu-item (click)="onDelete($event)">
        <i class="fas fa-trash accent-foreground"></i>
        <span class="ml-2">Delete training</span>
      </button>
    </div>
  </mat-menu>

</div>