<div *ngIf="isBootstrapped" class="chat-body-container" fxLayout="column" fxLayoutAlign="space-between">

  <div #chatWindow class="messages" (scroll)="scrollEvent.next($event)">
     <div class="message-row mb-3" *ngFor="let message of messages; let i = index"
      fxLayout="row" [fxLayoutAlign]="message.fromId == userId ? 'end center' : 'start center'">

      <ng-container *ngIf="chatService.isAvatarVisible(userId, messages, message, i); else fillerBlock">
        <div *ngIf="!friend.avatar" class="icon-wrapper">
          <i class="user-icon"></i>
        </div>
        <img *ngIf="friend.avatar" class="avatar" height="30" width="30"
          [src]="friend.avatar" />
      </ng-container>
      <ng-template #fillerBlock>
         <div style="width: 30px; height: 30px"></div>
      </ng-template>

       <div class="ml-2 message mat-elevation-z3"
            [ngClass]="{'my-message': message.fromId == userId, 'friend-message': message.fromId != userId}"
            fxLayout="column">

            <div class="body"><div [innerHtml]="message.message | emojify | linkfy"></div></div>
            <div class="date" fxFlexAlign="end">{{message.dateSent | date: config.messageDatePipeFormat }}</div>
       </div>
     </div>
  </div>

  <form [formGroup]="form" >
    <mat-form-field class="text-input">
      <textarea matInput
        cdkTextareaAutosize
        [cdkAutosizeMinRows]="1"
        [cdkAutosizeMaxRows]="5"
        formControlName="messageText"
        placeholder="Type a message"
        (keydown.enter)="sendMessage($event)"
      ></textarea>

      <div class="ml-3" matSuffix>
        <button mat-icon-button color="accent" (click)="addFile($event)">
          <i class="fas fa-paperclip"></i>
        </button>

        <button class="ml-1" matSuffix mat-icon-button color="accent" (click)="sendMessage($event)"
        [matTooltipClass]="'multiline'" matTooltip="Press enter to send&#13;Press shift + enter to add new line">
          <i class="fas fa-paper-plane"></i>
        </button>
      </div>

    </mat-form-field>
  </form>
</div>

<div class="h-100 w-100" *ngIf="!isBootstrapped" fxLayout="row" fxLayoutAlign="center center">
  <mat-spinner></mat-spinner>
</div>
