<div class="container main-screen" fxLayout="row wrap" fxLayoutAlign="space-between" fxLayout.lt-md="column">

    <app-types-list fxFlex="0 0 calc(49.5%)"  ></app-types-list>
    <app-properties-list fxFlex="0 0 calc(49.5%)" ></app-properties-list>
    <app-type-details fxFlex="0 0 calc(49.5%)" fxHide.xs></app-type-details>
    <app-property-details fxFlex="0 0 calc(49.5%)" fxHide.xs></app-property-details>

</div>
<!-- <div class="container main-screen" gdAreas="types properties | type property" gdGap="1rem" gdRows="auto auto">

    <app-types-list gdArea="types"></app-types-list>
    <app-properties-list gdArea="properties"></app-properties-list>
    <app-type-details gdArea="type" fxHide.xs></app-type-details>
    <app-property-details gdArea="property" fxHide.xs></app-property-details>

</div> -->
