<mat-toolbar>
  <mat-toolbar-row class="justify-content-between">
    <h2 class="toolbar-title float-left"> Menu </h2>

    <button mat-icon-button color="accent" (click)="close()">
      <i class="fas fa-times"></i>
    </button>

  </mat-toolbar-row>
</mat-toolbar>


<mat-nav-list class="navlist" id="main-navlist">
  <mat-accordion class="headers-align" [displayMode]="'flat'">

    <a mat-list-item routerLink="/app/dashboard" (click)="onRoute()">
      <i class="fas fa-home"></i>
      <span class="label">Dashboard</span>
    </a>

    <a *ngIf="(isCoach$ | async)" mat-list-item routerLink="/app/athletes" (click)="onRoute()">
      <i class="fas fa-users"></i>
      <span class="label">Manage users</span>
    </a>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <i class="fas fa-list"></i>
          <span class="label">Exercise library</span>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <a mat-list-item routerLink="/app/exercise-properties" (click)="onRoute()">
        <i class="fas fa-tools"></i>
        <span class="label">Properties</span>
      </a>


      <a mat-list-item routerLink="/app/exercise-types" (click)="onRoute()">
        <i class="fas fa-dumbbell"></i>
        <span class="label"> Exercises</span>
      </a>


    </mat-expansion-panel>

    <a mat-list-item routerLink="/app/training-log" (click)="onRoute()">
      <i class="fas fa-calendar-alt"></i>
      <span class="label">Training log</span>
    </a>

    <a mat-list-item routerLink="/app/export-import" (click)="onRoute()">
      <i class="fas fa-cloud-upload-alt"></i>
      <span class="label">Export / Import</span>
    </a>

    <a mat-list-item routerLink="/app/bodyweight" (click)="onRoute()">
      <i class="fas fa-weight"></i>
      <span class="label">Bodyweight</span>
    </a>

    <a mat-list-item routerLink="/app/personal-best" (click)="onRoute()">
      <i class="fas fa-medal"></i>
      <span class="label">Personal records</span>
    </a>

    <!-- <a mat-list-item routerLink="/app/dashboard" (click)="onRoute()">
      <i class="fas fa-chart-line"></i>
      <span class="label">Metrics</span>
    </a>



    <a mat-list-item routerLink="/app/dashboard" (click)="onRoute()">
      <i class="fas fa-utensils"></i>
      <span class="label">Nutrition</span>
    </a> -->


  </mat-accordion>
</mat-nav-list>
