<div class="card-chart-container h-100" fxLayout="column" fxLayoutGap.lt-md="1rem" *ngIf="cardBootstrapped">

  <form [formGroup]="form" fxLayout="row" fxLayoutGap="0.25rem" fxLayout.lt-md="column" fxLayoutGap.lt-md="0">

    <mat-form-field fxFlexOrder.lt-md="2" fxFlex="calc(65% - 0.25rem)" fxFlex.lt-md="100%">
      <input matInput placeholder="{{'DASHBOARD.CARDS.VOLUME_CARD.EXERCISE_TYPE' | translate}}" [matAutocomplete]="auto"
        [formControl]="exerciseType">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFunction">
        <mat-option *ngIf="isLoading">
          <mat-progress-bar class="loading-bar" mode="indeterminate" color="accent"></mat-progress-bar>
        </mat-option>
        <ng-container *ngIf="!isLoading">
          <mat-option *ngFor="let type of exerciseTypes" [value]="type">
            <app-exercise-type-preview [exerciseType]="type"></app-exercise-type-preview>
          </mat-option>
        </ng-container>
      </mat-autocomplete>
    </mat-form-field>

    <span fxFlexOrder.lt-md="1" fxFlex="calc(35% - 0.25rem)" fxLayout="row" fxLayoutGap="0.25rem">
      <mat-form-field fxFlex="calc(50% - 0.25rem)">

        <mat-label>{{'SHARED.FROM' | translate}}: </mat-label>
        <input matInput [matDatepicker]="datepicker1" formControlName="dateFrom">

        <mat-datepicker-toggle matSuffix [for]="datepicker1">
        </mat-datepicker-toggle>
        <mat-datepicker [touchUi]="isMobile" #datepicker1></mat-datepicker>
      </mat-form-field>

      <mat-form-field fxFlex="calc(50% - 0.25rem)">
        <mat-label>{{'SHARED.TO' | translate}}: </mat-label>
        <input matInput [matDatepicker]="datepicker2" formControlName="dateTo">

        <mat-datepicker-toggle matSuffix [for]="datepicker2">
        </mat-datepicker-toggle>
        <mat-datepicker [touchUi]="isMobile" #datepicker2></mat-datepicker>
      </mat-form-field>
    </span>

  </form>
  <div id="tags" *ngIf="exerciseType && exerciseType.value">
    <app-exercise-type-chip-list *ngIf="exerciseType.value" [propertyList]="exerciseType.value.properties">
    </app-exercise-type-chip-list>
  </div>

  <app-chart [configuration]="config"></app-chart>
</div>

<div class="h-100 w-100" *ngIf="!cardBootstrapped && !error" fxLayout="row" fxLayoutAlign="center center">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="error" fxLayout="column" class="h-100 w-100" fxLayoutAlign="center center">
  <h2>{{'DASHBOARD.COULD_NOT_RENDER' | translate}}</h2>
  <h3 *ngIf="details">{{details}}</h3>
</div>
