<app-material-table
    [columns]="tableColumns"
    [datasource]="tableDatasource"
    [config]="tableConfig"
    (selectEvent)="onSelect($event)"
    (addEvent)="onAdd($event)"
    (updateEvent)="onUpdate($event)"
    (deleteEvent)="onDeleteSingle($event)"
    (deleteSelectionEvent)="onDeleteSelection($event)"
></app-material-table>

<form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Exercise type" [matAutocomplete]="auto" [formControl]="exerciseTypeControl">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let type of exerciseTypes" [value]="type.name">
            <app-exercise-type-preview [exerciseType]="type"></app-exercise-type-preview>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
</form>