<div fxLayout="column" fxLayoutGap="1rem">
  <h3 *ngIf="data.title" style="font-weight: bold">{{data.title}}</h3>
  <mat-divider *ngIf="data.title"></mat-divider>
  <span [innerHtml]="data.message | sanitizeHtml" (click)="navigateToRoute($event)"></span>

  <div fxLayout="row" fxLayoutAlign="space-between">
    <button *ngIf="data.allowCancel" mat-button color="accent" class="float-right" mat-dialog-close >Cancel</button>
    <button *ngIf="data.allowConfirm" mat-stroked-button color="primary" class="float-right" mat-dialog-close >{{data.confirmLabel}}</button>
  </div>
</div>