<div id="ng-chat" *ngIf="isBootstrapped && !unsupportedViewport" [ngClass]="config?.theme">
    <div *ngIf="!config.hideFriendsList" id="ng-chat-people" [ngClass]="{'primary-outline-color': true, 'primary-background': true, 'ng-chat-people-collapsed': config?.isCollapsed}">
        <a href="javascript:void(0);" class="ng-chat-title secondary-background shadowed" (click)="onChatTitleClicked($event)">
            <span>
                {{config.localization.title}}
            </span>
        </a>
        <div *ngIf="currentActiveOption" class="ng-chat-people-actions" (click)="onFriendsListActionCancelClicked()">
            <a href="javascript:void(0);" class="ng-chat-people-action">
                <i class="remove-icon"></i>
            </a>
            <a href="javascript:void(0);" class="ng-chat-people-action" (click)="onFriendsListActionConfirmClicked()">
                <i class="check-icon"></i>
            </a>
        </div>
        <input *ngIf="config.searchEnabled" id="ng-chat-search_friend" class="friends-search-bar" type="search" [placeholder]="config.localization.searchPlaceholder" [(ngModel)]="searchInput" />
        <ul id="ng-chat-users" *ngIf="!config?.isCollapsed" [ngClass]="{'offset-search': config.searchEnabled}">
            <li *ngFor="let user of filteredParticipants">
                <input
                    *ngIf="currentActiveOption && currentActiveOption.validateContext(user)"
                    type="checkbox"
                    class="ng-chat-users-checkbox"
                    (change)="onFriendsListCheckboxChange(user, $event.target.checked)"
                    [checked]="isCoachSelectedFromFriendsList(user)"/>
                <div [ngClass]="{'ng-chat-friends-list-selectable-offset': currentActiveOption, 'ng-chat-friends-list-container': true}" (click)="openChatWindow(user, true, true)">
                    <div *ngIf="!user.avatar" class="icon-wrapper">
                        <i class="user-icon"></i>
                    </div>
                    <img *ngIf="user.avatar" alt="" class="avatar" height="30" width="30" [src]="sanitizer.bypassSecurityTrustResourceUrl(user.avatar)"/>
                    <strong title="{{user.displayName}}">{{user.displayName}}</strong>
                    <span [ngClass]="{'ng-chat-participant-status': true, 'online': user.status == ChatParticipantStatus.Online, 'busy': user.status == ChatParticipantStatus.Busy, 'away': user.status == ChatParticipantStatus.Away, 'offline': user.status == ChatParticipantStatus.Offline}" title="{{getStatusTitle(user.status)}}"></span>
                    <span *ngIf="unreadMessagesTotalByParticipant(user).length > 0" class="ng-chat-unread-messages-count unread-messages-counter-container primary-text">{{unreadMessagesTotalByParticipant(user)}}</span>
                </div>
            </li>
        </ul>
    </div>
    <div *ngFor="let window of windows; let i = index" [ngClass]="{'ng-chat-window': true, 'primary-outline-color': true, 'ng-chat-window-collapsed': window.isCollapsed}" [ngStyle]="{'right': (!config.hideFriendsList ? friendsListWidth : 0) + 20 + windowSizeFactor * i + 'px'}">
        <ng-container *ngIf="window.isCollapsed">
            <div class="ng-chat-title secondary-background">
                <div class="ng-chat-title-visibility-toggle-area" (click)="onChatWindowClicked(window)">
                    <strong title="{{window.participant.displayName}}">
                        {{window.participant.displayName}}
                    </strong>
                    <span [ngClass]="{'ng-chat-participant-status': true, 'online': window.participant.status == ChatParticipantStatus.Online, 'busy': window.participant.status == ChatParticipantStatus.Busy, 'away': window.participant.status == ChatParticipantStatus.Away, 'offline': window.participant.status == ChatParticipantStatus.Offline}" title="{{getStatusTitle(window.participant.status)}}"></span>
                    <span *ngIf="unreadMessagesTotal(window).length > 0" class="ng-chat-unread-messages-count unread-messages-counter-container primary-text">{{unreadMessagesTotal(window)}}</span>
                </div>
                <a href="javascript:void(0);" class="ng-chat-close primary-text" (click)="onCloseChatWindow(window)">X</a>
            </div>
        </ng-container>
        <ng-container *ngIf="!window.isCollapsed">
            <div class="ng-chat-title secondary-background">
                <div class="ng-chat-title-visibility-toggle-area" (click)="onChatWindowClicked(window)">
                    <strong title="{{window.participant.displayName}}">
                        {{window.participant.displayName}}
                    </strong>
                    <span [ngClass]="{'ng-chat-participant-status': true, 'online': window.participant.status == ChatParticipantStatus.Online, 'busy': window.participant.status == ChatParticipantStatus.Busy, 'away': window.participant.status == ChatParticipantStatus.Away, 'offline': window.participant.status == ChatParticipantStatus.Offline}" title="{{getStatusTitle(window.participant.status)}}"></span>
                    <span *ngIf="unreadMessagesTotal(window).length > 0" class="ng-chat-unread-messages-count unread-messages-counter-container primary-text">{{unreadMessagesTotal(window)}}</span>
                </div>
                <a href="javascript:void(0);" class="ng-chat-close primary-text" (click)="onCloseChatWindow(window)">X</a>
            </div>
            <div #chatMessages class="ng-chat-messages primary-background">
                <div *ngIf="window.isLoadingHistory" class="ng-chat-loading-wrapper">
                    <div class="loader">Loading history...</div>
                </div>
                <div *ngIf="hasPagedHistory && window.hasMoreMessages && !window.isLoadingHistory" class="ng-chat-load-history">
                	<a class="load-history-action" (click)="fetchMessageHistory(window)">{{config.localization.loadMessageHistoryPlaceholder}}</a>
                </div>

                <div *ngFor="let message of window.messages; let i = index" [ngClass]="{'ng-chat-message': true, 'ng-chat-message-received': message.fromId != userId}">
                    <ng-container *ngIf="isAvatarVisible(window, message, i)">
                        <div *ngIf="!window.participant.avatar" class="icon-wrapper">
                        <i class="user-icon"></i>
                    </div>
                    <img *ngIf="window.participant.avatar" alt="" class="avatar" height="30" width="30" [src]="sanitizer.bypassSecurityTrustResourceUrl(window.participant.avatar)"/>
                      <span *ngIf="window.participant.participantType == ChatParticipantType.Group" class="ng-chat-participant-name">{{window.participant | groupMessageDisplayName:message}}</span>
                    </ng-container>
                    <ng-container [ngSwitch]="message.type">
                        <div *ngSwitchCase="MessageType.Text" [ngClass]="{'sent-chat-message-container': message.fromId == userId, 'received-chat-message-container': message.fromId != userId}">
                            <span [innerHtml]="message.message | sanitizeHtml | emojify:config.emojisEnabled | linkfy:config.linkfyEnabled"></span>
                            <span *ngIf="config.showMessageDate && message.dateSent" class="message-sent-date">{{message.dateSent | date:config.messageDatePipeFormat}}</span>
                        </div>
                        <div *ngSwitchCase="MessageType.File" [ngClass]="{'file-message-container': true, 'received': message.fromId != userId}">
                            <div class="file-message-icon-container">
                                <i class="paperclip-icon"></i>
                            </div>
                            <a class="file-details" [attr.href]="message.downloadUrl" target="_blank" rel="noopener noreferrer" (click)="this.markMessagesAsRead([message])" download>
                                <span class="file-message-title" [attr.title]="message.message">{{message.message}}</span>
                                <span *ngIf="message.fileSizeInBytes" class="file-message-size">{{message.fileSizeInBytes}} Bytes</span>
                            </a>
                        </div>
                        <div *ngSwitchCase="MessageType.Image" [ngClass]="{'sent-image-message-container': message.fromId == userId, 'received-image-message-container': message.fromId != userId}">
                           <img (click)="enlargeImage(message)" class="img-fluid" src="{{message.downloadUrl}}" style="cursor: pointer">
                           <span *ngIf="config.showMessageDate && message.dateSent" class="message-sent-date">{{message.dateSent | date:config.messageDatePipeFormat}}</span>
                        </div>
                        <div *ngSwitchCase="MessageType.Video" [ngClass]="{'sent-video-message-container': message.fromId == userId, 'received-video-message-container': message.fromId != userId}">
                            <video width="100%" height="auto" controls>
                                <source src="{{message.downloadUrl}}" type="video/mp4">
                                Your browser does not support the video tag.
                              </video>
                              <span *ngIf="config.showMessageDate && message.dateSent" class="message-sent-date">{{message.dateSent | date:config.messageDatePipeFormat}}</span>
                        </div>
                    </ng-container>
                </div>
            </div>

            <div class="ng-chat-footer primary-outline-color primary-background">
                <input #chatWindowInput
                    type="text"
                    [ngModel]="window.newMessage | emojify:config.hideFriendsList"
                    (ngModelChange)="window.newMessage=$event"
                    [placeholder]="config.localization.messagePlaceholder"
                    [ngClass]="{'chat-window-input': true, 'has-side-action': fileUploadAdapter}"
                    (keydown)="onChatInputTyped($event, window)"
                    (blur)="toggleWindowFocus(window)"
                    (focus)="toggleWindowFocus(window)"/>

                <!-- File Upload -->
                <ng-container *ngIf="fileUploadAdapter">
                    <a *ngIf="!isUploadingFile(window)" class="btn-add-file" (click)="triggerNativeFileUpload(window)">
                        <i class="upload-icon"></i>
                    </a>
                    <input
                        type="file"
                        #nativeFileInput
                        style="display: none;"
                        [attr.id]="getUniqueFileUploadInstanceId(window)"
                        (change)="onFileChosen(window)" />
                    <div *ngIf="isUploadingFile(window)" class="loader"></div>
                </ng-container>
            </div>
        </ng-container>
    </div>
</div>
