// .container-fluid {
//   // background: linear-gradient(to top, rgb(201, 214, 255), rgb(226, 226, 226));
// }


img {
    height: 13rem;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

 #login-form {
   max-width: 400px;
   width: 100%;
  }

.login-spinner-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);

  & .login-spinner {
    z-index: 101;
  }
}
