@import "../palettes/material-light.palette.scss";
@import "~@angular/material/theming";

$theme-light-primary: mat-palette($mat-deep-purple, 700, 300, 900);
$theme-light-accent: mat-palette($mat-pink);
$theme-light-warn: mat-palette($mat-amber, A200);

$theme-light: mat-light-theme(
    $theme-light-primary,
    $theme-light-accent,
    $theme-light-warn
);
