<h2> {{data.title}} </h2>

<mat-divider class="dialog-form-divider"></mat-divider>

<div class="form" fxLayout="column">
    <form [formGroup]="form">

      <mat-form-field *ngIf="!data.timeOnly">
        <mat-label>Training date</mat-label>
        <input matInput [matDatepicker]="dp" [formControl]="date">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp></mat-datepicker>
      </mat-form-field>

      <ngx-timepicker-field [formControl]="time" [defaultTime]="'12:00 pm'" [format]="24"></ngx-timepicker-field>

    </form>
</div>

<div class="mt-2 dialog-form-actions" fxLayout="row" fxLayoutAlign="space-between">
    <button  mat-button color="accent" (click)="onClose()">Close</button>
    <button mat-stroked-button color="primary"(click)="onSubmit()"
      [disabled]="!form.valid">{{ data.action == 'Create' ? 'Add' : 'Save' }}</button>
  </div>
