<ng-container *ngIf="text; else fallback">

    <ng-container *ngIf="!showAll">
        <ng-container *ngTemplateOutlet="truncated"></ng-container>
    </ng-container>

    <ng-container *ngIf="showAll">
        <ng-container *ngTemplateOutlet="full"></ng-container>
    </ng-container>

</ng-container>

<ng-template #truncated>
    <span [innerHtml]="text | truncate : characters"></span>
    <a  fxFlexAlign="end" *ngIf="text.length > characters" class="pointer" (click)="showAll = true">
        {{ 'TRAINING_PROGRAM.SHOW_ALL' | translate }}
    </a>
</ng-template>

<ng-template #full>
    <span [innerHtml]="text"></span>
    <a fxFlexAlign="end" *ngIf="text.length > characters" class="pointer" (click)="showAll = false">
        {{ 'TRAINING_PROGRAM.SHOW_LESS' | translate }}
    </a>
</ng-template>

<ng-template #fallback>
    <i>{{fallbackText | translate}}</i>
</ng-template>
