<div class="details-body details-container" fxLayout="row" fxLayoutGap="1rem" fxLayout.lt-sm="column">

  <div class="details">

    <!--IMAGE-->
    <span id="program_image">
      <img *ngIf="trainingProgram.imageUrl" class="program-image img-fluid float-left mat-elevation-z5"
        (click)="uploadInput.click()" src="{{trainingProgram.imageUrl}}" />

      <img *ngIf="!trainingProgram.imageUrl" class="program-image placeholder img-fluid float-left mat-elevation-z5"
        src="{{placeholderImagePath}}" />
    </span>


    <!--DESCRIPTION-->
    <app-truncated-text 
      [text]="trainingProgram.description" 
      [fallbackText]="'TRAINING_PROGRAM.NO_DESCRIPTION'" 
      [characters]="940"
    ></app-truncated-text>

  </div>
</div>