<div class="container main-screen">

  <div fxHide fxShow.xs>
    <ng-container *ngTemplateOutlet="header, context: { training: training }"></ng-container>
  </div>

  <div class="section-one" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="0.5rem" fxLayout.lt-md="column"
    fxLayoutAlign.lt-md="start" fxLayoutGap.lt-md="1rem">

    <div id="training-col-left" class="training-details-container details-container" fxFlex="1 1 calc(50% - 0.5rem)"
      fxFlex.lt-md="0 1 auto" fxFlexOrder.xs="2" fxLayout="column" fxLayoutGap="1rem">

      <div fxShow fxHide.xs>
        <ng-container *ngTemplateOutlet="header, context: { training: training }"></ng-container>
      </div>

      <app-training-details-data></app-training-details-data>

      <mat-accordion class="training-accordion" [multi]="false">

        <app-training-note [note]="training.note" [coachNote]="training.coachNote" [noteRead]="training.noteRead"
          (saveNoteEvent)="saveNote($event)"></app-training-note>

        <app-training-media [media]="training.media" (onFileUploaded)="onFileUploaded($event)"></app-training-media>

        <app-training-metrics *ngIf="training.exercises && training.exercises.length > 0" class="mt-3">
        </app-training-metrics>

      </mat-accordion>

    </div>

    <app-exercise-list id="training-col-right" fxFlex="1 1 calc(50% - 0.5rem)" fxFlex.lt-md="0 1 auto"
      fxFlexOrder.xs="1"></app-exercise-list>

  </div>

</div>

<ng-template #header let-training="training">
  <div class="training-header" fxLayout="column" fxLayout.lt-md="row" fxLayoutAlign.lt-md="space-between">
    <h3 *ngIf="training.trainingProgram" class="title bold">
      {{ training.trainingProgram?.name }} ({{'TRAINING_BLOCK.DAY_LABEL' | translate }}
      {{ training.trainingBlockDay?.order }})
    </h3>

    <h3 class="title" [ngClass]="{'smaller': training.trainingProgram, 'bold': !training.trainingProgram }">
      {{ training.dateTrained | date:'dd MMM' }}, {{ training.dateTrained | applyTimezone}}
      <!-- ({{ training.dateTrained | date: 'dd/MM/yy'}}) -->
    </h3>
  </div>
</ng-template>