:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.label {
  font-weight: normal !important;
}

.main-screen {
  padding-top: 0rem;
  margin-top: -2rem;
}

.title {
  padding: 0.5rem;
}

@media (max-width: 600px) {
  .label-value {
    margin-left: 0.5rem !important;
  }
  .title {
    margin: 0px !important;
  }

  .main-screen {
    padding-top: 0px !important;
  }
}
