<mat-accordion *ngIf="(trainingProgram$ | async) as trainingProgram" class="training-program-headers-align">

  <!-- PROGRAM DETAILS -->
  <mat-expansion-panel [expanded]="step === 0" (opened)="step = 0" hideToggle>

    <mat-expansion-panel-header [ngClass]="{'no-pointer-events': step === 0}">

      <mat-panel-title>
        {{ translateService.instant('TRAINING_PROGRAM.DETAILS.TITLE', {name: trainingProgram.name}) }}
      </mat-panel-title>

      <mat-panel-description [ngClass]="{'mobile-expansion-panel': mediaObserver.isActive('lt-sm')}">
        <span *ngIf="mediaObserver.isActive('gt-xs')">{{'TRAINING_PROGRAM.DETAILS.DESCRIPTION' | translate}}</span>
        <button class="mr-1 pointer-events" mat-stroked-button color="accent" (click)="onAssign($event, trainingProgram)">
          {{ (mediaObserver.isActive('lt-sm') ? 'TRAINING_PROGRAM.ASSIGN_BTN_LABEL' : 'TRAINING_PROGRAM.ASSIGN') | translate}}
        </button>
      </mat-panel-description>

    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <app-basic-details [trainingProgram]="trainingProgram"></app-basic-details>
    </ng-template>

  </mat-expansion-panel>

  <!-- ASSIGNED USERS -->
  <mat-expansion-panel [expanded]="step === 1" (opened)="step = 1" hideToggle>

    <mat-expansion-panel-header [ngClass]="{'no-pointer-events': step === 1}">

      <mat-panel-title>
        {{'TRAINING_PROGRAM.USERS.TITLE' | translate}}
      </mat-panel-title>

      <mat-panel-description *ngIf="mediaObserver.isActive('gt-xs')">
        {{'TRAINING_PROGRAM.USERS.DESCRIPTION' | translate}}
        <i class="fas fa-users"></i>
      </mat-panel-description>

    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <app-assigned-athletes></app-assigned-athletes>
    </ng-template>

  </mat-expansion-panel>

  <!-- METRICS  -->
  <mat-expansion-panel [expanded]="step === 2" (opened)="step = 2" hideToggle>

    <mat-expansion-panel-header [ngClass]="{'no-pointer-events': step === 2}">

      <mat-panel-title>
        <span class="foreground-accent">{{'TRAINING_PROGRAM.METRICS.TITLE' | translate}}</span>
      </mat-panel-title>

      <mat-panel-description *ngIf="mediaObserver.isActive('gt-xs')">
        {{'TRAINING_PROGRAM.METRICS.DESCRIPTION' | translate}}
        <i class="fas fa-chart-pie foreground-accent"></i>
      </mat-panel-description>

    </mat-expansion-panel-header>

    Insert graphs here

  </mat-expansion-panel>

</mat-accordion>
