.program-image {
  height: 150px;
  margin: 30px;
  margin-top: 0;
  border-radius: 13%;
}

.details {
  padding-right: 5px;
}

@media (max-width: 600px) {
  .program-image {
    height: 70px;
    margin: 19px;
    margin-bottom: 0;
    margin-top: 0;
  }
}

.training-program-headers-align .mat-expansion-panel-header-title,
.training-program-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.training-program-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
