<div id="ng-chat" *ngIf="isBootstrapped && !unsupportedViewport" [ngClass]="config?.theme">

  <!--MENU-->
  <div *ngIf="!config.hideFriendsList" id="ng-chat-people"
    [ngClass]="{'primary-outline-color': true, 'primary-background': true, 'ng-chat-people-collapsed': config?.isCollapsed}">

    <!--TITLE-->
    <a class="ng-chat-title secondary-background shadowed" (click)="onChatTitleClicked($event)">
      {{config.localization.title}}
    </a>

    <!--FILTER-->
    <input *ngIf="config.searchEnabled" id="ng-chat-search_friend" class="friends-search-bar" type="search"
      [placeholder]="config.localization.searchPlaceholder" [(ngModel)]="searchInput" />

    <!--USERS-->
    <ul id="ng-chat-users" *ngIf="!config?.isCollapsed" [ngClass]="{'offset-search': config.searchEnabled}">
      <li *ngFor="let user of filteredParticipants">
        <!-- USER ROW -->
        <div [ngClass]="{'ng-chat-friends-list-selectable-offset': currentActiveOption, 'ng-chat-friends-list-container': true}"
          (click)="openChatWindow(user, true, true)">

          <div *ngIf="!user.avatar" class="icon-wrapper">
            <i class="user-icon"></i>
          </div>

          <img *ngIf="user.avatar" class="avatar" height="30" width="30"
            [src]="sanitizer.bypassSecurityTrustResourceUrl(user.avatar)" />

          <strong title="{{user.displayName}}">{{user.displayName}}</strong>

          <span *ngIf="unreadMessagesTotalByParticipant(user).length > 0"
            class="ng-chat-unread-messages-count unread-messages-counter-container primary-text">
            {{unreadMessagesTotalByParticipant(user)}}
          </span>
        </div>
      </li>
    </ul>
  </div>

  <!--CHAT WINDOWS-->
  <div *ngFor="let window of windows; let i = index"
    class="ng-chat-window primary-outline-color"
    [ngClass]="{'ng-chat-window-collapsed': window.isCollapsed}"
    [ngStyle]="{'right': (!config.hideFriendsList ? friendsListWidth : 0) + 20 + windowSizeFactor * i + 'px'}">

    <ng-template #windowHeader let-window="window">
      <div class="ng-chat-title secondary-background"
      fxLayout="row" fxLayoutAlign="space-between center">

        <div class="ng-chat-title-visibility-toggle-area" (click)="onChatWindowClicked(window)"
        fxLayout="row" fxLayoutGap="0.5rem" fxLayoutAlign="start center">

          <ng-container>
            <span *ngIf="!window.participant.avatar" class="icon-wrapper">
              <i class="user-icon"></i>
            </span>
            <img *ngIf="window.participant.avatar" class="avatar" height="20" width="20" style="line-height: 30px;"
              [src]="sanitizer.bypassSecurityTrustResourceUrl(window.participant.avatar)" />
          </ng-container>

          <strong title="{{window.participant.displayName}}">
            {{window.participant.displayName}}
          </strong>

          <span *ngIf="unreadMessagesTotal(window).length > 0"
            class="ng-chat-unread-messages-count unread-messages-counter-container primary-text">
            {{unreadMessagesTotal(window)}}
          </span>

        </div>

        <button mat-icon-button class="mat-icon-button__small" color="accent" (click)="onCloseChatWindow(window)">
          <i class="fas fa-times"></i>
        </button>

      </div>
    </ng-template>

    <ng-container *ngIf="window.isCollapsed">
      <ng-container *ngTemplateOutlet="windowHeader; context: { window: window }"></ng-container>
    </ng-container>

    <ng-container *ngIf="!window.isCollapsed">
      <ng-container *ngTemplateOutlet="windowHeader; context: { window: window }"></ng-container>
      <div #chatMessages class="ng-chat-messages primary-background">
        <div *ngIf="window.isLoadingHistory" class="ng-chat-loading-wrapper">
          <div class="loader">Loading history...</div>
        </div>
        <div *ngIf="hasPagedHistory && window.hasMoreMessages && !window.isLoadingHistory" class="ng-chat-load-history">
          <a class="load-history-action"
            (click)="fetchMessageHistory(window)">{{config.localization.loadMessageHistoryPlaceholder}}</a>
        </div>

        <div *ngFor="let message of window.messages; let i = index" class="ng-chat-message"
          [ngClass]="{'ng-chat-message-received': message.fromId != userId}">

          <ng-container *ngIf="chatService.isAvatarVisible(userId, window.messages, message, i)">
            <div *ngIf="!window.participant.avatar" class="icon-wrapper">
              <i class="user-icon"></i>
            </div>
            <img *ngIf="window.participant.avatar" class="avatar" height="30" width="30"
              [src]="sanitizer.bypassSecurityTrustResourceUrl(window.participant.avatar)" />
          </ng-container>

          <ng-container [ngSwitch]="message.type">
            <div *ngSwitchCase="MessageType.Text"
              [ngClass]="{'sent-chat-message-container': message.fromId == userId, 'received-chat-message-container': message.fromId != userId}">
              <span
                [innerHtml]="message.message | sanitizeHtml | emojify:config.emojisEnabled | linkfy:config.linkfyEnabled"></span>
              <span *ngIf="config.showMessageDate && message.dateSent"
                class="message-sent-date">{{message.dateSent | date:config.messageDatePipeFormat}}</span>
            </div>
            <div *ngSwitchCase="MessageType.File"
              [ngClass]="{'file-message-container': true, 'received': message.fromId != userId}">
              <div class="file-message-icon-container">
                <i class="paperclip-icon"></i>
              </div>
              <a class="file-details" [attr.href]="message.downloadUrl" target="_blank" rel="noopener noreferrer"
                (click)="this.markMessagesAsRead([message])" download>
                <span class="file-message-title" [attr.title]="message.message">{{message.message}}</span>
                <span *ngIf="message.fileSizeInBytes" class="file-message-size">{{message.fileSizeInBytes}} Bytes</span>
              </a>
            </div>
            <div *ngSwitchCase="MessageType.Image"
              [ngClass]="{'sent-image-message-container': message.fromId == userId, 'received-image-message-container': message.fromId != userId}">
              <img (click)="enlargeImage(message)" class="img-fluid" src="{{message.downloadUrl}}"
                style="cursor: pointer">
              <span *ngIf="config.showMessageDate && message.dateSent"
                class="message-sent-date">{{message.dateSent | date:config.messageDatePipeFormat}}</span>
            </div>
            <div *ngSwitchCase="MessageType.Video"
              [ngClass]="{'sent-video-message-container': message.fromId == userId, 'received-video-message-container': message.fromId != userId}">
              <video width="100%" height="auto" controls>
                <source src="{{message.downloadUrl}}" type="video/mp4">
                Your browser does not support the video tag.
              </video>
              <span *ngIf="config.showMessageDate && message.dateSent"
                class="message-sent-date">{{message.dateSent | date:config.messageDatePipeFormat}}</span>
            </div>
          </ng-container>

        </div>
      </div>
      <div class="ng-chat-footer primary-outline-color primary-background">
        <input #chatWindowInput type="text" [ngModel]="window.newMessage | emojify:config.hideFriendsList"
          (ngModelChange)="window.newMessage=$event" [placeholder]="config.localization.messagePlaceholder"
          [ngClass]="{'chat-window-input': true, 'has-side-action': uploadService}"
          (keydown)="onChatInputTyped($event, window)" (blur)="toggleWindowFocus(window)"
          (focus)="toggleWindowFocus(window)" />

        <!-- File Upload -->
        <ng-container *ngIf="uploadService">
          <a *ngIf="!isUploadingFile(window)" class="btn-add-file" (click)="triggerNativeFileUpload(window)">
            <i class="upload-icon"></i>
          </a>
          <input type="file" #nativeFileInput style="display: none;" [attr.id]="getUniqueFileUploadInstanceId(window)"
            (change)="onFileChosen(window)" />
          <div *ngIf="isUploadingFile(window)" class="loader"></div>
        </ng-container>
      </div>
    </ng-container>

  </div>
</div>
