<div id="ng-chat" *ngIf="chat.isBootstrapped && !chat.unsupportedViewport" [ngClass]="chat.config?.theme">

  <!--MENU-->
  <div id="ng-chat-people" class="primary-outline-color primary-background"
    [ngClass]="{'ng-chat-people-collapsed': chat.config?.isCollapsed}">

    <!--TITLE-->
    <div class="ng-chat-title accent-foreground shadowed" (click)="chat.onChatTitleClicked($event)">
      {{chat.config.localization.title}}
    </div>

    <!--FILTER-->
    <input  id="ng-chat-search_friend" class="friends-search-bar" type="search"
      [placeholder]="chat.config.localization.searchPlaceholder" [(ngModel)]="chat.searchInput" />

    <!--USERS-->
    <ul id="ng-chat-users" *ngIf="!chat.config?.isCollapsed" class="offset-search">
      <li *ngFor="let friend of chat.filteredFriends">
        <!-- USER ROW -->
        <div class="ng-chat-friends-list-container"
          (click)="chat.openChatWindow(friend, true, true)">

          <div *ngIf="!friend.avatar" class="icon-wrapper">
            <i class="user-icon"></i>
          </div>

          <img *ngIf="friend.avatar" class="ng-avatar" height="30" width="30"
            [src]="sanitizer.bypassSecurityTrustResourceUrl(friend.avatar)" />

          <strong title="{{friend.displayName}}">{{friend.displayName}}</strong>

          <span *ngIf="(chat.unreadMessagesTotalByFriend(friend.id) | async).length > 0"
            class="ng-chat-unread-messages-count unread-messages-counter-container primary-text">
            {{ (chat.unreadMessagesTotalByFriend(friend.id) | async) }}
          </span>
        </div>
      </li>
    </ul>
  </div>

  <!--CHAT WINDOWS-->
  <div *ngFor="let window of chat.windows; let i = index"
    class="ng-chat-window primary-outline-color"
    [ngClass]="{'ng-chat-window-collapsed': window.isCollapsed}"
    [ngStyle]="{'right': chat.friendsListWidth + 20 + chat.windowSizeFactor * i + 'px'}">

    <!--Header template-->
    <ng-template #windowHeader let-window="window">
      <div class="ng-chat-title secondary-background"
      fxLayout="row" fxLayoutAlign="space-between center">

        <div class="ng-chat-title-visibility-toggle-area" (click)="chat.onChatWindowClicked(window)"
        fxLayout="row" fxLayoutGap="0.5rem" fxLayoutAlign="start center">

          <ng-container>
            <span *ngIf="!window.participant.avatar" class="icon-wrapper">
              <i class="user-icon"></i>
            </span>
            <img *ngIf="window.participant.avatar" class="ng-avatar" height="20" width="20" style="line-height: 30px;"
              [src]="sanitizer.bypassSecurityTrustResourceUrl(window.participant.avatar)" />
          </ng-container>

          <strong title="{{window.participant.displayName}}">
            {{window.participant.displayName}}
          </strong>

          <span *ngIf="(chat.unreadMessagesTotalByFriend(window.participant.id) | async).length > 0"
            class="ng-chat-unread-messages-count unread-messages-counter-container primary-text">
            {{(chat.unreadMessagesTotalByFriend(window.participant.id) | async)}}
          </span>

        </div>

        <button mat-icon-button class="mat-icon-button__small" color="accent" (click)="chat.onCloseChatWindow(window)">
          <i class="fas fa-times"></i>
        </button>

      </div>
    </ng-template>

    <!--closed window-->
    <ng-container *ngIf="window.isCollapsed">
      <ng-container *ngTemplateOutlet="windowHeader; context: { window: window }"></ng-container>
    </ng-container>

    <!--Open window-->
    <ng-container *ngIf="!window.isCollapsed">
      <ng-container *ngTemplateOutlet="windowHeader; context: { window: window }"></ng-container>

      <div #messageSection class="ng-chat-messages primary-background">
        <div *ngIf="window.isLoadingHistory" class="ng-chat-loading-wrapper">
          <div class="loader">Loading history...</div>
        </div>

        <div *ngFor="let message of window.messages; let i = index" class="ng-chat-message"
          [ngClass]="{'ng-chat-message-received': message.fromId != chat.userId}">

          <ng-container *ngIf="chat.isAvatarVisible(chat.userId, window.messages, message, i)">
            <div *ngIf="!window.participant.avatar" class="icon-wrapper">
              <i class="user-icon"></i>
            </div>
            <img *ngIf="window.participant.avatar" class="ng-avatar" height="30" width="30"
              [src]="sanitizer.bypassSecurityTrustResourceUrl(window.participant.avatar)" />
          </ng-container>

          <ng-container [ngSwitch]="message.type">
            <div *ngSwitchCase="chat.MessageType.Text"
              [ngClass]="{'sent-chat-message-container': message.fromId == chat.userId, 'received-chat-message-container': message.fromId != chat.userId}">
              <span
                [innerHtml]="message.message | sanitizeHtml | emojify| linkfy"></span>
              <span *ngIf="message.dateSent"
                class="message-sent-date">{{message.dateSent | date: chat.config.messageDatePipeFormat}}</span>
            </div>
            <div *ngSwitchCase="chat.MessageType.File" class="file-message-container"
              [ngClass]="{'received': message.fromId != chat.userId}">
              <div class="file-message-icon-container">
                <i class="paperclip-icon"></i>
              </div>
              <a class="file-details" [attr.href]="message.downloadUrl" target="_blank" rel="noopener noreferrer"
                (click)="chat.markMessagesAsRead([message])" download>
                <span class="file-message-title" [attr.title]="message.message">{{message.message}}</span>
                <span *ngIf="message.fileSizeInBytes" class="file-message-size">{{message.fileSizeInBytes}} Bytes</span>
              </a>
            </div>
            <div *ngSwitchCase="chat.MessageType.Image"
              [ngClass]="{'sent-image-message-container': message.fromId == chat.userId, 'received-image-message-container': message.fromId != chat.userId}">
              <img (click)="chat.enlargeImage(message)" class="img-fluid" src="{{message.downloadUrl}}"
                style="cursor: pointer">
              <span *ngIf="message.dateSent"
                class="message-sent-date">{{message.dateSent | date: chat.config.messageDatePipeFormat}}</span>
            </div>
            <div *ngSwitchCase="chat.MessageType.Video"
              [ngClass]="{'sent-video-message-container': message.fromId == chat.userId, 'received-video-message-container': message.fromId != chat.userId}">
              <video width="100%" height="auto" controls>
                <source src="{{message.downloadUrl}}" type="video/mp4">
                Your browser does not support the video tag.
              </video>
              <span *ngIf="message.dateSent"
                class="message-sent-date">{{message.dateSent | date: chat.config.messageDatePipeFormat}}</span>
            </div>
          </ng-container>

        </div>
      </div>

      <div class="ng-chat-footer primary-outline-color primary-background">
        <input #messageInput type="text" [ngModel]="window.newMessage | emojify"
          (ngModelChange)="window.newMessage=$event" [placeholder]="chat.config.localization.messagePlaceholder"
          [ngClass]="{'chat-window-input': true, 'has-side-action': uploadService}"
          (keydown.enter)="chat.onSendMessage($event, window)" (blur)="chat.toggleWindowFocus(window)"
          (focus)="chat.toggleWindowFocus(window)" />

        <!-- File Upload -->
        <ng-container *ngIf="chat.uploadService">
          <a *ngIf="!chat.isUploadingFile(window)" class="btn-add-file" (click)="chat.triggerNativeFileUpload(window)">
            <i class="upload-icon"></i>
          </a>
          <input type="file" #fileInput style="display: none;" [attr.id]="chat.getUniqueFileUploadInstanceId(window)"
            (change)="chat.onFileChosen(window)" />
          <div *ngIf="chat.isUploadingFile(window)" class="loader"></div>
        </ng-container>
      </div>
    </ng-container>

  </div>
</div>
