<div class="details-container mat-elevation-z3" *ngIf="(exerciseProperty$ | async) as property">

    <h1 class="details-header" fxLayout="row" fxLayoutAlign="space-between">
        
        <span>{{property.value}}</span>
        
    </h1>

    <mat-divider></mat-divider>

    <div class="details-body" fxLayout="column" fxLayoutGap="0.5rem">

        <div class="detail">
            <mat-label class="label">Order:</mat-label>
            <span class="label-value">{{property.order + 1}}.</span>
        </div>
        <div class="detail">
            <mat-label class="label">Description:</mat-label>
            <span class="label-value">TODO</span>
        </div>
        <div class="detail">
            <mat-label class="label">Active:</mat-label>
            <span class="label-value"><app-active-flag [active]="property.active"></app-active-flag></span>
        </div>

    </div>

    <div class="details-footer">
    </div>

</div>