<h2> {{data.title | translate}} </h2>

<mat-divider class="dialog-form-divider"></mat-divider>

<div class="form" fxLayout="column">
    <form [formGroup]="form">

      <mat-form-field>
        <mat-label>{{'SHARED.DATE' | translate}}</mat-label>
        <input matInput [matDatepicker]="datepicker" [formControl]="dateAchieved" formControlname="dateAchieved">

        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker [touchUi]="mediaObserver.isActive('lt-sm')" #datepicker></mat-datepicker>
      </mat-form-field>

      <!--TODO: Add suffix with units-->
      <div fxLayout="row" fxLayoutGap="1rem">

        <mat-form-field fxFlex="calc(50% - 1rem)">
          <input matInput type="number" min="0" formControlName="value" placeholder="{{'PERSONAL_BEST.WEIGHT' | translate}}">
          <span matSuffix>{{ data.unitSystem | showUnitSystemLabel }}</span>
        </mat-form-field>

        <mat-form-field fxFlex="calc(50% - 1rem)">
          <input matInput type="number" min="0" formControlName="reps" placeholder="{{'PERSONAL_BEST.REPS' | translate}}">
        </mat-form-field>

      </div>

      <mat-form-field>
        <input matInput type="number" min="0" formControlName="bodyweight" placeholder="{{'PERSONAL_BEST.BODYWEIGHT' | translate}}">
        <span matSuffix>{{ data.unitSystem | showUnitSystemLabel }}</span>
      </mat-form-field>

      <!--
      <mat-form-field>
        <input matInput type="number" min="0" formControlName="time" placeholder="{{'PERSONAL_BEST.TIME' | translate}}">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="number" min="0" formControlName="distance" placeholder="{{'PERSONAL_BEST.DISTANCE' | translate}}">
      </mat-form-field> -->

    </form>
</div>

<div class="mt-2 dialog-form-actions" fxLayout="row" fxLayoutAlign="space-between">
    <button  mat-button  (click)="onClose()">{{'SHARED.CLOSE' | translate}}</button>
    <button mat-stroked-button color="accent"(click)="onSubmit()"
      [disabled]="!form.valid">{{ (data.action == 'Create' ? 'SHARED.ADD' : 'SHARED.SAVE') | translate }}</button>
  </div>
