<!--------- MEDIA ---------->
<mat-expansion-panel class="media-panel">
  <mat-expansion-panel-header>
    {{'TRAINING_LOG.METRICS_SECTION' | translate}}
  </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <div class="charts-container" fxLayout="column" fxLayoutAlign="center">

      <div class="chart-wrapper" fxFlex="1 1 calc(50% - 1rem)" fxLayout="column" fxLayoutAlign="center center">
        <app-chart [configuration]="totalVolumeChart"></app-chart>
      </div>

      <mat-divider class="mt-2 mb-2"></mat-divider>

      <div class="chart-wrapper" fxFlex="1 1 calc(50% - 1rem)" fxLayout="column" fxLayoutAlign="center center">
        <app-chart [configuration]="volumeSplitChart"></app-chart>
      </div>

      <mat-divider class="mt-2 mb-2"></mat-divider>

      <div class="chart-wrapper" fxFlex="1 1 calc(50% - 1rem)" fxLayout="column" fxLayoutAlign="center center">
        <app-chart [configuration]="numberOfLiftsChart"></app-chart>
      </div>

    </div>
  </ng-template>

</mat-expansion-panel>
