.chart-wrapper {
  height: 350px;
  margin-top: 1.5rem;
}

::ng-deep .mat-expansion-panel-body {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

@media (max-width: 600px) {

  ::ng-deep .mat-expansion-panel-body {
    padding-left: 2.5px !important;
    padding-right: 2.5px !important;
  }

}
