<div class="charts-container" fxLayout="row wrap" fxLayoutAlign="space-between" fxLayoutGap="1rem"
  fxLayout.lt-md="column" fxLayoutAlign.lt-md="center" fxLayoutGap.lt-md="1rem">

  <div class="chart-wrapper" fxFlex="1 1 calc(50% - 1rem)" fxLayout="column" fxLayoutAlign="center center">
    <app-chart [configuration]="totalVolumeChart"></app-chart>
  </div>

  <div class="chart-wrapper" fxFlex="1 1 calc(50% - 1rem)" fxLayout="column" fxLayoutAlign="center center">
    <app-chart [configuration]="volumeSplitChart"></app-chart>
  </div>

  <div class="chart-wrapper" fxFlex="1 1 calc(50% - 1rem)" fxLayout="column" fxLayoutAlign="center center">
    <app-chart [configuration]="numberOfLiftsChart"></app-chart>
  </div>

  <!-- <div class="chart-wrapper" fxFlex="1 1 calc(50% - 1rem)" fxLayout="column" fxLayoutAlign="center center">
    <app-chart [configuration]="zoneOfIntensity"></app-chart>
  </div> -->

</div>
