<mat-tab-group #group1 animationDuration="0ms" mat-align-tabs="center" [style.display]="hideTab1 ? 'none' : 'inherit'"
    (selectedIndexChange)="changeTab1($event)" [selectedIndex]="selectedTab1" dynamicHeight="false">
    <mat-tab>
        <ng-template mat-tab-label>
            <i class="fas fa-arrow-circle-left"></i>
        </ng-template>
    </mat-tab>
    <mat-tab label="Training"></mat-tab>
    <mat-tab label="Exercise" [disabled]="!selectedExercise ? true : false"></mat-tab>
</mat-tab-group>

<mat-tab-group #group2 animationDuration="0ms" mat-align-tabs="center" [style.display]="hideTab2 ? 'none' : 'inherit'"
    (selectedIndexChange)="changeTab2($event)" [selectedIndex]="selectedTab2" dynamicHeight="false" >
    <mat-tab label="Calendar"></mat-tab>
    <mat-tab label="Week"></mat-tab>
    <mat-tab label="List"></mat-tab>
</mat-tab-group>

<!-- TABS STATE CAN BE KEPT IN NGRX -->
<router-outlet></router-outlet>
