<mat-tab-group #group1 animationDuration="0ms" mat-align-tabs="center" [style.display]="hideTab1 ? 'none' : 'inherit'"
    (selectedIndexChange)="changeTab1($event)" [selectedIndex]="selectedTab1">
    <mat-tab>
        <ng-template mat-tab-label>
            <i class="fas fa-arrow-circle-left"></i>
        </ng-template>
    </mat-tab>
    <mat-tab label="Training"></mat-tab>
    <mat-tab label="Exercise"></mat-tab>
</mat-tab-group>

<mat-tab-group #group2 animationDuration="0ms" mat-align-tabs="center" [style.display]="hideTab2 ? 'none' : 'inherit'"
    (selectedIndexChange)="changeTab2($event)" [selectedIndex]="selectedTab2" >
    <mat-tab label="Calendar"></mat-tab>
    <mat-tab label="Week"></mat-tab>
    <mat-tab label="List"></mat-tab>
</mat-tab-group>


<!------------------CALENDAR---------------------->
<ng-container *ngIf="showCalendar">
    <app-training-calendar></app-training-calendar>
</ng-container>
<!------------------WEEK---------------------->
<ng-container *ngIf="showWeek">
    Week
</ng-container>
<!------------------LIST---------------------->
<ng-container *ngIf="showList">
    List
</ng-container>
<!------------------TRAINING---------------------->
<ng-container *ngIf="showTraining">
    <ng-container *ngIf="selectedTraining">
        <app-training-details-home [training]="selectedTraining"></app-training-details-home>
    </ng-container>
</ng-container>
<!------------------EXERCISE---------------------->
<ng-container *ngIf="showExercise">
    Exercise
    <ng-container *ngIf="selectedTraining">
        {{selectedTraining.dateTrained}}
    </ng-container>
</ng-container>