<mat-form-field>
    <input matInput (keyup)="applyFilterEvent.next($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z1">

    <mat-table [dataSource]="datasource" matSort>

        <!-- SELECTION ( CHECKBOXES ) -->
        <ng-container matColumnDef="select" *ngIf="config.selectionEnabled">
            <mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected"
                    [indeterminate]="selection.hasValue() && !isAllSelected">
                </mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row.id) : null"
                    [checked]="selection.isSelected(row.id)">
                </mat-checkbox>
            </mat-cell>
        </ng-container>

        <!-- ACTUAL DATA -->
        <ng-container *ngFor="let col of columns" matColumnDef="{{ col.definition }}">

            <ng-container *ngIf="col.sort">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{ col.title }} </mat-header-cell>
            </ng-container>

            <ng-container *ngIf="!col.sort">
                <mat-header-cell *matHeaderCellDef> {{ col.title }} </mat-header-cell>
            </ng-container>

            <mat-cell *matCellDef="let row"> {{ col.displayFunction(row) }} </mat-cell>

        </ng-container>

        <!-- ACTIONS -->
        <ng-container matColumnDef="actions" *ngIf="config.actionsEnabled">
            <mat-header-cell *matHeaderCellDef>
                <mat-divider [vertical]="true"></mat-divider>
                <ng-container *ngIf="(isMoreThanOneSelected || isAllSelected) 
                                     && !isOneSelected && config.deleteEnabled 
                                     && !(!datasource.data || datasource.data.length == 0)"> <!--Not empty-->
                    <button
                        mat-icon-button color="accent" (click)="onDeleteSelection()" (click)="$event.stopPropagation()">
                        <i class="fas fa-trash"></i>
                    </button>
                    <mat-divider [vertical]="true"></mat-divider>
                </ng-container>
                <button *ngIf="config.addEnabled"
                    mat-icon-button color="accent" (click)="addEvent.emit()" (click)="$event.stopPropagation()">
                    <i class="fas fa-plus"></i>
                </button>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <mat-divider [vertical]="true"></mat-divider>
                <ng-container *ngIf="isOneSelected && selection.isSelected(row.id) && config.editEnabled">
                    <button mat-icon-button
                        color="accent" (click)="updateEvent.emit(row)" (click)="$event.stopPropagation()">
                        <i class="fas fa-edit"></i>
                    </button>
                    <mat-divider [vertical]="true"></mat-divider>
                </ng-container>
                <button *ngIf="isOneSelected && selection.isSelected(row.id) && config.deleteEnabled" mat-icon-button
                    color="accent" (click)="deleteEvent.emit(row)" (click)="$event.stopPropagation()">
                    <i class="fas fa-trash"></i>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
        <mat-row highlightOnHover [class.selected-row]="selection.isSelected(row.id)"
            *matRowDef="let row; columns: displayColumns;" (click)="onSelect(row)">
        </mat-row>

    </mat-table>

    <div class="no-records" *ngIf="!datasource.data || datasource.data.length == 0">
        <span>No records</span>
    </div>

    <mat-paginator *ngIf="datasource.data && datasource.data.length > pageSize" showFirstLastButtons
        [pageSize]="pageSize" [length]="datasource.data.length" [pageSizeOptions]="[5, 10, 15]"></mat-paginator>
</div>