:host {
  height: 100%
}

.text-center {
  text-align: center;
}

.language-dropdown {
  max-width: 15rem;

  .mat-form-field-wrapper {
    padding-bottom: 0;
  }
}


th {
  border-bottom: 1px solid;
  margin-bottom: 5px;
}

#general-settings-container {
  padding: 2rem;
  height: 100%
}

@media(max-width: 600px) {
  #general-settings-container {
    padding-top: 0;
  }
}
