<div id="general-settings-container" fxLayout="row" fxLayoutAlign="space-evenly" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="space-around  ">
  <div id="left-column" fxLayout="column" fxLayoutGap="1rem" fxFlex="0 0 50%" fxFlex.lt-sm="0 1 auto">

    <!--THEME-->
    <div fxLayout="row" fxLayoutGap="1rem">
      <label>Theme: </label>
      <mat-slide-toggle [color]="'accent'" [checked]="themeButtonChecked" (change)="onThemeChange($event)">
        {{ userSetting.theme }}
      </mat-slide-toggle>
    </div>

    <!--Unit system-->
    <div fxLayout="row" fxLayoutGap="1rem">
      <label>Unit system: </label>
      <mat-slide-toggle [color]="'accent'" [checked]="unitSystemButtonChecked" (change)="onUnitSystemChange($event)">
        {{ userSetting.unitSystem }}
      </mat-slide-toggle>
    </div>

    <!--RPE system-->
    <div fxLayout="row" fxLayoutGap="1rem">
      <label>Rpe system: </label>
      <mat-slide-toggle [disabled]="!userSetting.useRpeSystem" [color]="'accent'" [checked]="rpeSystemButtonChecked"
        (change)="onRpeSystemChange($event)">
        {{ userSetting.rpeSystem }}
      </mat-slide-toggle>
      <mat-checkbox (change)="onUseRpeSystemChecked($event)" [checked]="userSetting.useRpeSystem">
        {{ userSetting.useRpeSystem ? '' : 'Turn on' }}
      </mat-checkbox>

    </div>

  </div>
  <div id="right-column" fxLayout="column" fxLayoutGap="1rem" fxFlex="0 0 50%" fxFlex.lt-sm="0 1 auto">
    <!--Notification settings-->
    <table>
      <th>Inform me about</th>
      <th>Mail</th>
      <th>Notification</th>

      <tr *ngFor="let notificationSetting of userSetting.notificationSettings">
        <!-- TODO: Make this pascal case into something meaningful... -->
        <td class="text-center"> {{notificationTypeLabels[notificationSetting.notificationType]}} </td>
        <td class="text-center">
          <mat-checkbox (change)="onNotificationSettingCheckboxChecked($event, notificationSetting)"
            [name]="'receiveMail'" [checked]="notificationSetting.receiveMail">
          </mat-checkbox>
        </td>
        <td class="text-center">
          <mat-checkbox (change)="onNotificationSettingCheckboxChecked($event, notificationSetting)"
            [name]="'receiveNotification'" [checked]="notificationSetting.receiveNotification">
          </mat-checkbox>
        </td>
      </tr>
    </table>

  </div>
</div>
