<h2> {{data.title | translate}} </h2>

<mat-divider class="dialog-form-divider"></mat-divider>

<div class="form" fxLayout="column">
    <form [formGroup]="form">

      <mat-form-field>
          <input matInput placeholder="{{'TRAINING_LOG.EXERCISE_TYPE_LABEL' | translate }}" [matAutocomplete]="auto" [formControl]="exerciseType">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFunction">
            <mat-option *ngIf="isLoading">
              <mat-progress-bar class="loading-bar" mode="indeterminate" color="accent"></mat-progress-bar>
           </mat-option>
           <ng-container *ngIf="!isLoading">
             <mat-option *ngFor="let type of data.exerciseTypes.list" [value]="type" >
                 <app-exercise-type-preview [exerciseType]="type"></app-exercise-type-preview>
             </mat-option>
           </ng-container>
          </mat-autocomplete>
      </mat-form-field>

      <div id="tags">
        <app-exercise-type-chip-list  *ngIf="exerciseType.value" [propertyList]="exerciseType.value.properties"></app-exercise-type-chip-list>
      </div>

      <mat-form-field>
        <input matInput type="number" min="0" formControlName="setsCount" placeholder="{{'TRAINING_LOG.SETS_LABEL' | translate}}">
      </mat-form-field>

    </form>
</div>

<div class="mt-2 dialog-form-actions" fxLayout="row" fxLayoutAlign="space-between">
    <button  mat-button (click)="onClose()">{{'SHARED.CLOSE' | translate }}</button>
    <button mat-stroked-button color="accent"(click)="onSubmit()"
      [disabled]="!form.valid">{{ (data.action == 'Create' ? 'SHARED.ADD' : 'SHARED.SAVE') | translate }}</button>
  </div>
