<mat-sidenav-container class="sidenav-container" [hasBackdrop]="false">
  <mat-sidenav class="sidenav" [autoFocus]="false" [mode]="'side'" [position]="'end'">
    <app-track-items-sidebar (drop)="drop($event)" (dragEnter)="dragEnter($event)" (dragEnd)="dragEnd()" (saveTracks)="onSaveTracks($event)"></app-track-items-sidebar>
  </mat-sidenav>

  <mat-sidenav-content id="dashboard-sidenav-content">

    <app-actions></app-actions>

    <div class="main-dashboard-container w-100" fxLayout="row" fxLayoutGap="1rem">
       <app-feed class="w-100 h-100" fxFlex="0 0 30%"></app-feed>
       <app-tracks class="w-100 h-100" (drop)="drop($event)"></app-tracks>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
