<mat-sidenav-container class="sidenav-container" [hasBackdrop]="false">

  <mat-sidenav class="sidenav" [autoFocus]="false" [mode]="'side'" [position]="'end'">

    <app-track-items-sidebar
    (drop)="drop($event)"
    (dragEnter)="dragEnter($event)"
    (dragEnd)="dragEnd()"
    (saveTracks)="onSaveTracks($event)"
    ></app-track-items-sidebar>

  </mat-sidenav>

  <mat-sidenav-content id="dashboard-sidenav-content">

    <app-actions fxHide.lt-sm></app-actions>

    <div *ngIf="!mediaObserver.isActive('lt-sm')" class="main-dashboard-container" fxLayout="row">
      <app-feed fxFlex="1 1 30" fxFlex.lt-md="1 1 50"></app-feed>
      <app-tracks fxFlex="1 1 70" fxFlex.lt-md="1 1 50" (drop)="drop($event)" (dragEnter)="dragEnter($event)" (dragEnd)="dragEnd()"></app-tracks>
    </div>

    <mat-tab-group *ngIf="mediaObserver.isActive('lt-sm')"
    headerPosition="below" dynamicHeight mat-align-tabs="center">

      <mat-tab>
        <ng-template mat-tab-label>
          <button mat-icon-button color="accent" [disableRipple]="true">
              <i class="fas fa-home fa-1-5x"></i>
          </button>
        </ng-template>
        <div style="height: calc(100vh - 173px + 68px)">
          <app-feed></app-feed>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <button mat-icon-button color="accent" [disableRipple]="true">
              <i class="fas fa-chart-pie fa-1-5x"></i>
          </button>
        </ng-template>
        <div style="height: calc(100vh - 173px + 68px); overflow-y: auto">
          <app-tracks (drop)="drop($event)" (dragEnter)="dragEnter($event)" (dragEnd)="dragEnd()"></app-tracks>
        </div>
      </mat-tab>

    </mat-tab-group>

  </mat-sidenav-content>
</mat-sidenav-container>
