.image-container{
    padding: 5px;
    height: 150px;
    max-height: 150px;
    
    img {
        max-height: 100%;
    }
}

@media (max-width: 600px) {
    .image-container{
        padding: 5px;
        height: 70px;
        max-height: 70px;
        
        img {
            max-height: 100%;
        }
    }
    
    
}