<div fxLayout="column" fxLayoutGap="1rem">
  <h3 *ngIf="data.config.title" style="font-weight: bold">{{data.config.title}}</h3>
  <mat-divider *ngIf="data.config.title"></mat-divider>
  <span [innerHtml]="data.config.message | sanitizeHtml" (click)="navigateToRoute($event)"></span>

  <div fxLayout="row" fxLayoutAlign="space-between">
    <button *ngIf="data.config.allowCancel"  mat-button class="float-right" (click)="onClose()" >Cancel</button>
    <button *ngIf="data.config.allowConfirm" mat-stroked-button color="accent" class="float-right" (click)="onConfirm()">{{data.config.confirmLabel}}</button>
  </div>
</div>
