<ng-container *ngIf="!viewAsMode && render">
    <i class="fas fa-eye" (click)="viewAsMode=true"></i>
</ng-container>

<ng-container *ngIf="viewAsMode && render">
    <mat-form-field id="view-as">
        <mat-label>View as</mat-label>

        <!-- <input matInput placeholder="{{'TRAINING_PROGRAM.ATHLETE' | translate }}" [matAutocomplete]="auto"
            [formControl]="user"> -->

        <mat-select [formControl]="user">
            <mat-select-trigger>
                {{ user.value?.fullName }}
            </mat-select-trigger>
            <mat-option *ngFor="let user of users" [value]="user">
                {{ user.fullName }}
            </mat-option>
        </mat-select>
        <!-- <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let user of users" [value]="user">
                {{ user?.fullName }}
            </mat-option>
        </mat-autocomplete> -->
        <i matSuffix class="fas fa-times ml-2" (click)="onClear()"></i>
    </mat-form-field>
</ng-container>