<div class="details-container mat-elevation-z3" *ngIf="(tag$ | async) as property">

    <h1 class="details-header" fxLayout="row" fxLayoutAlign="space-between">

        <span>{{property.value}}</span>

    </h1>

    <mat-divider></mat-divider>


    <div class="details-body" gdAreas="left-label left-value" gdColumns="max-content auto">

        <div gdArea="left-label">
            <div class="detail">
                <mat-label class="label">{{'SHARED.ORDER' | translate}}:</mat-label>
            </div>
            <div class="detail">
                <mat-label class="label">{{ 'TAGS.DESCRIPTION' | translate }}:</mat-label>
            </div>
            <div class="detail">
                <mat-label class="label">{{'SHARED.ACTIVE' | translate}}:</mat-label>
            </div>

        </div>

        <div gdArea="left-value">
            <div class="detail">
                <span class="label-value">{{property.order + 1}}.</span>
            </div>
            <div class="detail">
                <span class="label-value">TODO this will be textarea in cretae/edit</span>
            </div>
            <div class="detail">
                <span class="label-value">
                    <app-active-flag [active]="property.active"></app-active-flag>
                </span>
            </div>
        </div>

    </div>

    <div class="details-footer">
    </div>

</div>
