<div class="container" fxLayout="column wrap" fxLayoutAlign="center center">

        <div id="reset-password-header">
          <img class="img-fluid" src="../../../../assets/images/logo-transparent.png">
        </div>
      
        <div id="reset-password-form">
          
          <form [formGroup]="setPasswordForm" (ngSubmit)="onSubmit()" #form="ngForm" fxLayout="column wrap"
            fxLayoutGap="5px">
      
            <mat-form-field>
              <input #passwordInput type="password" matInput formControlName="password" placeholder="Set new password">
      
              <button  mat-icon-button matSuffix showHidePassword [passwordInput]="passwordInput"
                [passwordIcon]="passwordIcon" placeholder="Repeat password">
                <i #passwordIcon class="fas"></i>
              </button>
            </mat-form-field>
      
            <mat-form-field>
              <input type="password" matInput formControlName="repeatPassword" placeholder="Repeat password">
            </mat-form-field>
      
            <button mat-flat-button color="primary" id="signin" type="submit" class="float-right"
              [disabled]="!setPasswordForm.valid">Set password</button>
      
          </form>
      
        </div>
      </div>