<!--DESKTOP-->
<mat-drawer-container *ngIf="mediaObserver.isActive('gt-sm')" class="chat-fullscreen-drawer-container" autosize>
  <mat-drawer mode="side" opened class="drawer">
    <app-friend-list></app-friend-list>
  </mat-drawer>

  <mat-drawer-content class="content">
    <div class="container mat-elevation-z5">
      <app-chat-body *ngIf="selectedFriend" [friend]="selectedFriend" [config]="config"></app-chat-body>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

<!--MOBILE-->
<mat-tab-group #tabs mat-stretch-tabs *ngIf="mediaObserver.isActive('lt-md')" headerPosition="below" dynamicHeight>

  <mat-tab #chatTab>
    <ng-template mat-tab-label>
      <button mat-icon-button color="accent" [disableRipple]="true">
        <i class="fas fa-comments fa-1-5x"></i>
      </button>
    </ng-template>
    <ng-template matTabContent>
      <div style="height: calc(100vh - 56px - 49px); overflow-y: auto">
        <app-chat-body #chatBody *ngIf="selectedFriend" [friend]="selectedFriend" [config]="config"></app-chat-body>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab #friendsTab>
    <ng-template mat-tab-label>
      <button mat-icon-button color="accent" [disableRipple]="true">
        <i class="fas fa-user-friends fa-1-5x"></i>
      </button>
    </ng-template>
    <ng-template matTabContent>
      <div style="height: calc(100vh - 56px - 49px); overflow-y: auto">
        <app-friend-list></app-friend-list>
      </div>
    </ng-template>
  </mat-tab>

</mat-tab-group>
