.chat-fullscreen-drawer-container {
  height: 100%;
  left: 10%;
  max-width: calc(100% - 20%);

  .drawer {
    min-width: 250px;
    padding-top: 3px; // because of main loading bar
  }
  .content {
    width: auto;
    padding-top: 3px // because of main loading bar
  }
  .container {
  }
}
