<mat-expansion-panel class="block-training-panel" [hideToggle]="false" [expanded]="false">

    <mat-expansion-panel-header class="block-training-header">
        <mat-panel-title>
            <mat-panel-title>
                {{ training.dateTrained | applyTimezone }}
            </mat-panel-title>
            <mat-panel-description class="no-pointer-events" fxLayoutAlign="end">
                <button class="mr-1 pointer-events" mat-stroked-button color="accent"
                    (click)="$event.stopPropagation(); onAdd(training)">
                    Add exercise
                </button>
            </mat-panel-description>
        </mat-panel-title>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
        <div class="mb-3 pointer-events">
            <ng-container *ngFor="let exercise of training.exercises">
                <mat-divider></mat-divider>
                <app-block-exercise-details [exercise]="exercise">
                </app-block-exercise-details>
            </ng-container>
        </div>
    </ng-template>

</mat-expansion-panel>

<!--TODO i18n -->