.cdk-drag-preview {
    // workarounds because material table styles override things
    margin: 0 !important;
    display: block !important;
    flex-direction: unset !important;
}

.actions-hidden {
    display: none;
    animation: collapseToRight;
}

.actions-expanded {
    animation: expandToLeft;
}

.mat-expansion-panel-body {
    flex-direction: column !important;
}

@keyframes collapseToRight {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes expandToLeft {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}
