<div class="details-body" fxLayout="column">
  <app-import-button style="width: 250px" fxFlexAlign="start" [importFn]="import" [isUploading]="isUploadingObs"></app-import-button>
  <mat-card class="sample-card" import-sample sampleType="Powerlifting" importType="ExerciseType"></mat-card>
  <mat-card class="sample-card" import-sample sampleType="Weightlifting" importType="ExerciseType"></mat-card>
  <mat-card class="sample-card" import-sample sampleType="Gym" importType="ExerciseType"></mat-card>
  <!-- <div import-sample [sampleType]="''" [importType]="'ExerciseTypes'"></div> -->
</div>
