<cdk-virtual-scroll-viewport itemSize="50" class="feed-viewport">
  <div *cdkVirtualFor="let activity of (activities | async)" class="feed-item-container" fxLayout="column"
    fxLayoutAlign="center center">
    <!--WHOLE FEED ITEM-->
    <div class="feed-item mat-elevation-z3" fxLayout="row" fxLayoutGap="1rem">

      <!--AVATAR-->
      <img class="feed-user-avatar" src="https://www.bigstockphoto.com/images/homepage/module-6.jpg" />

      <!--BODY-->
      <div class="feed-item-content" fxFlex="1 1 auto" fxLayout="column">
        <!--DYNAMIC BODY-->
        <ng-container [ngSwitch]="activity.type">
          <app-media-feed-item *ngSwitchCase="activityType.MediaFile" [activity]="activity"></app-media-feed-item>
          <app-training-feed-item *ngSwitchCase="activityType.Training" [activity]="activity"></app-training-feed-item>
          <app-personal-best-feed-item *ngSwitchCase="activityType.PersonalBest" [activity]="activity" [unitSystem]="(unitSystem | async)"></app-personal-best-feed-item>
          <app-bodyweight-feed-item *ngSwitchCase="activityType.Bodyweight" [activity]="activity" [unitSystem]="(unitSystem | async)"></app-bodyweight-feed-item>
          <div class="feed-item" *ngSwitchDefault>
            <b>{{ activity.userName + ' ' }}</b> <span [innerHtml]="activity.message | sanitizeHtml"></span>
          </div>
        </ng-container>

        <!--DATE FOOTER-->
        <div class="feed-item__footer" fxFlexAlign="end"> {{ activity.date | date: 'mediumDate'}} </div>
      </div>
    </div>
  </div>
</cdk-virtual-scroll-viewport>
